<md-dialog id="itinerary_block" class="itinerary_modal" aria-label="Hotels" ng-cloak>
  <md-dialog-content class="itinerary_tab activity_modal">
    <div class="activity_wrapper">
      <p class="edit-caption ">Activity Name</p>
      <p class="activity_title">
        <img src="images/icons/activity.png" class="icons">
        <input type="text" ng-model="ctrl.parent.activityToAdd.name"  placeholder="">
      </p>
      <ul class="activity_details clearfix">

        <li class="add_image activity_img" ngf-select="ctrl.parent.uploadFiles($file, false)" accept="image/*">
          <div class="progress_bar activity" ng-if="ctrl.parent.progress"><span>•</span><span>•</span><span>•</span></div>
          <img ng-src="{{ctrl.parent.activityToAdd.imageUrl}}" class="icons">
           <br><span>Add Image </span>
        </li>
        <li class="activity_description">
          <h6>Description</h6>
          <textarea placeholder="Add a Comment" ng-model="ctrl.parent.activityToAdd.description"></textarea>
        </li>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.parent.cancelDialog();">
      <img src="images/icons/close.jpg" class="close_img">
    </button>
    <div class="modal-footer itinerary_btn">
      <button type="button" class="preview_btn" data-dismiss="modal" ng-click="ctrl.parent.cancelDialog();">Close</button>
      <button type="button" class="send_btn"  ng-click="ctrl.parent.addActivity();">{{ctrl.parent.activityToAdd.id === null?'Add':'Save'}}</button>
    </div>
  </md-dialog-content>
</md-dialog>
