<div class="col-lg-12 col-md-12" ng-controller="GoomoUrlController" ng-init>
        <h3 class="text-center">Goomo Urls</h3>

        <button style="position:relative;z-index:20" class="btn btn-success" ng-click="editGoomoUrls('new');toggleModal();">
            <span class="glyphicon glyphicon-user"></span>
            Create New user
        </button>
        <form style="position:relative;z-index:30" class="form-inline pull-right" role="form">
            <div class="form-group">

                <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
            </div>
        </form>



    </div>
