<div class="col-lg-12 col-md-12" ng-controller="agentController" ng-init="">
  <h3 class="text-center">Suppliers</h3>

  <button style="position:relative;z-index:20" class="btn btn-success" ng-click="editAgent('new');toggleModal();">
  <span class="glyphicon glyphicon-user"></span> Create New Supplier
</button>
  <form style="position:relative;z-index:30" class="form-inline pull-right" role="form">
    <div class="form-group">
      <!--<label >Search</label>-->
      <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
    </div>
  </form>
  </br>
  </br>
  <div style="position:relative;z-index:20" class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th ng-click="sort('id')">Supplier Id
            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('name')">Supplier Name
            <span class="glyphicon sort-icon" ng-show="sortKey=='agent.agency_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('name')">Contact Person Name
            <span class="glyphicon sort-icon" ng-show="sortKey=='user_id.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('contact_number')">Contact No
            <span class="glyphicon sort-icon" ng-show="sortKey=='agent.user_id.contact'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('email')">Email Id
            <span class="glyphicon sort-icon" ng-show="sortKey=='user_id.email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('price_source')">Price Source
            <span class="glyphicon sort-icon" ng-show="sortKey=='user_id.email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('cache_duration')">Cache Duration
            <span class="glyphicon sort-icon" ng-show="sortKey=='user_id.email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>Edit</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="agent in agents |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">
          <td>{{ agent.id }}</td>
          <td>{{ agent.agency_name }}</td>
          <td>{{ agent.user_id.name}}</td>
          <td>{{ agent.user_id.country_code + agent.user_id.contact}}</td>
          <td>{{ agent.user_id.email }}</td>
          <td>{{ agent.price_source }}</td>
          <td>{{ agent.cache_duration }}</td>
          <td class="text-center">
            <button class="btn btn-sm" ng-click="editAgent(agent.sequence);toggleModal();">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
      </button>
          </td>
          <td class="text-center">
            <button class="btn btn-success btn-sm statusBtn" ng-show="agent.active" ng-click="statusAgent(agent.sequence)">
        Active
      </button>
            <button class="btn btn-danger btn-sm statusBtn" ng-hide="agent.active" ng-click="statusAgent(agent.sequence)">
        Deactive
      </button>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls max-size="20" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
  </div>
  <button style="position:relative;z-index:20" class="btn btn-success" ng-click="getMoreAgents();">
    <span class="glyphicon glyphicon-"></span> Get More Suppliers
  </button>

  <modal title="agent Form" dikhao="showModal">
    <form class="form-horizontal" name="myForm">

      <div ng-if="act !== 'update'" class="form-group">
        <label class="col-sm-3 control-label">Country:</label>

        <div class="col-sm-4">
          <select class="form-control" ng-model="agentController.country" ng-options="item.id as item.country for item in countries"
            ng-change="getActiveStatesByCountries(1)">
        <option value="">Select Country</option>
      </select>
        </div>
      </div>
      <div ng-if="act !== 'update'" class="form-group">
        <label class="col-sm-3 control-label">State:</label>

        <div class="col-sm-4">
          <select class="form-control" ng-model="agentController.state" ng-options="item.id as item.state for item in states"
            ng-change="getActiveCitiesByStates(1)">
        <option value="">Select State</option>
      </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">City:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <select ng-if="act !== 'update'" class="form-control" ng-model="agentController.city" ng-options="item.id as item.city for item in cities">
            <option value="">Select City</option>
          </select>
          <span class="form-control" ng-if="act === 'update'">{{agentController.cityName}}</span>
        </div>
        <div class="col-sm-4">
          <span style="color:red" ng-show="(agentController.city === null)">City is required</span>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.agencyName.$invalid && !myForm.agencyName.$pristine }">
        <label class="col-sm-3 control-label">Supplier Name:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="agencyName" ng-model="agentController.agencyName" placeholder="Supplier Name"
            ng-minlength="3" ng-maxlength="20" required>
          <p ng-show="myForm.agencyName.$error.minlength" class="help-block">Supplier name is too short.</p>
          <p ng-show="myForm.agencyName.$error.maxlength" class="help-block">Supplier name is too long.</p>
          <p ng-show="myForm.agencyName.$error.pattern" class="help-block">First letter should be Capital.</p>

        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.fName.$invalid && !myForm.fName.$pristine }">
        <label class="col-sm-3 control-label">Contact Person Name:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input ng-disabled="act === 'update'" type="text" class="form-control" name="fName" ng-model="agentController.fName" placeholder="Person Name"
            ng-minlength="3" ng-maxlength="15" required>
          <p ng-show="myForm.fName.$error.minlength" class="help-block">Name is too short.</p>
          <p ng-show="myForm.fName.$error.maxlength" class="help-block">Name is too long.</p>
          <p ng-show="myForm.fName.$error.pattern" class="help-block">First letter should be Capital.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.email.$invalid && !myForm.email.$pristine }">
        <label class="col-sm-3 control-label">Email:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input ng-disabled="act === 'update'" type="email" class="form-control" name="email" ng-model="agentController.email" placeholder="Email"
            required>
          <p ng-show="myForm.email.$invalid && !myForm.email.$pristine && agentController.email!==null" class="help-block">Enter a valid email.</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Country Code:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input ng-disabled="act === 'update'" type="text" class="form-control" ng-model="agentController.country_code" placeholder="Country Code"
            required>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : myForm.contact.$invalid && !myForm.contact.$pristine }">
        <label class="col-sm-3 control-label">Mobile Number:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input ng-disabled="act === 'update'" type="text" class="form-control" name="contact" ng-model="agentController.contact"
            placeholder="Mobile Number" ng-minlength="10" ng-maxlength="10" pattern="^([1-9][0-9]*)$" required>
          <p ng-show="myForm.contact.$error.minlength" class="help-block">Should be 10 digits</p>
          <p ng-show="myForm.contact.$error.maxlength" class="help-block">Should be 10 digits</p>
          <p ng-show="myForm.contact.$error.pattern" class="help-block">Numbers only and should not start with 0.</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Address:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <!--<input type="text" class="form-control" ng-model="agentController.address" placeholder="Address" ng-disabled="info">-->
          <textarea class="form-control" rows="2" ng-model="agentController.address" placeholder="Address" ng-disabled="info"></textarea>
        </div>
        <div class="col-sm-4">
          <span style="color:red" ng-show="(agentController.address === '')">Address is required.</span>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.pincode.$invalid && !myForm.pincode.$pristine }">
        <label class="col-sm-3 control-label">Pincode:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="pincode" ng-model="agentController.pincode" placeholder="Pincode">
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.agencyName2.$invalid && !myForm.agencyName2.$pristine }">
        <label class="col-sm-3 control-label">Office phone:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="agencyName2" ng-model="agentController.officePhone" placeholder="Office phone">
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : myForm.agencyName3.$invalid && !myForm.agencyName3.$pristine }">
        <label class="col-sm-3 control-label">Landline number:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="agencyName3" ng-model="agentController.landline" placeholder="Landline number">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Location:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <select class="form-control" ng-model="agentController.location" ng-options="item as item.name for item in googleLocations"
            ng-change="onLocationSelected(agentController.location)">
        <option value="">Select Option</option>
      </select>
          <input type="text" class="form-control" ng-model="agentController.lat" placeholder="Latitude">
          <input type="text" class="form-control" ng-model="agentController.long" placeholder="longitute">
        </div>
        <div class="col-sm-4">
          <button class="btn btn-success" ng-click="getGoogleLocation();">
        <span class="glyphicon glyphicon-"></span> Get Location
      </button>
        </div>
        <div class="col-sm-4" style="margin-top:10px"><span style="color:red" ng-show="(agentController.lat === '')">Latitude is required.</span></div>
        <div class="col-sm-4" style="margin-top:10px"><span style="color:red" ng-show="(agentController.long === '')">Longitude is required.</span></div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.countriesOffered.$invalid && !myForm.countriesOffered.$pristine }">
        <label class="col-sm-3 control-label">Countries Offered:<span style="color:red">*</span></label>
        <div class="col-sm-8">
          <dropdown-multiselect model="agentController.countriesOffered" options="agentcountries"></dropdown-multiselect>
        </div>
        <div class="col-sm-4 col-sm-offset-3">
          <span style="color:red" ng-show="(agentController.countriesOffered.length === 0)">Choose atleast one.</span>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.staffSize.$invalid && !myForm.staffSize.$pristine }">
        <label class="col-sm-3 control-label">Staff Size:</label>
        <div class="col-sm-4">
          <input type="number" min='0' class="form-control mod" name="staffSize" ng-model="agentController.staffSize" placeholder="Staff Size">
          <p ng-show="myForm.staffSize.$invalid && !myForm.staffSize.$pristine" class="help-block">Enter valid staff Size.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.businessSince.$invalid && !myForm.businessSince.$pristine }">
        <label class="col-sm-3 control-label">In Business Since:</label>
        <div class="col-sm-4">
          <input type="number" min='1900' max='2015' class="form-control mod" name="businessSince" ng-model="agentController.businessSince"
            placeholder="Business Since">
          <p ng-show="myForm.businessSince.$invalid && !myForm.businessSince.$pristine" class="help-block">Enter valid business date.</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Office Timings</label>
        <div class="col-sm-2">
          <ng-time-selector hours="agentController.openTimehours" minutes="agentController.openTimeminutes" time="agentController.openTime"></ng-time-selector>
        </div>
        <div class="col-sm-2">
          <ng-time-selector hours="agentController.closeTimehours" minutes="agentController.closeTimeminutes" time="agentController.closeTime"></ng-time-selector>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Operating days:<span style="color:red">*</span></label>
        <div class="col-sm-8">
          <dropdown-multiselect model="agentController.operatingDays" options="operatingDays"></dropdown-multiselect>
        </div>
        <div class="col-sm-4 col-sm-offset-3">
          <span style="color:red" ng-show="(agentController.operatingDays.length === 0)">Choose atleast one.</span>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : myForm.web.$invalid && !myForm.web.$pristine }">
        <label class="col-sm-3 control-label">Web Link:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="web" ng-model="agentController.weblink" placeholder="Web Link">
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : myForm.otherSite.$invalid && !myForm.otherSite.$pristine }">
        <label class="col-sm-3 control-label">Agent Description:</label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="5" ng-model="agentController.agentdescription" placeholder="Agent Description" ng-disabled="info"></textarea>
        </div>
      </div>
       <div class="form-group" ng-class="{ 'has-error' : myForm.web.$invalid && !myForm.web.$pristine }">
        <label class="col-sm-3 control-label">Price Source:</label>
        <div class="col-sm-4">
          <input type="radio" ng-model="agentController.priceSource" ng-value="1">From API
          <input type="radio" ng-model="agentController.priceSource" ng-value="0">From Ratesheet
        </div>
      </div>
       <div class="form-group" ng-class="{ 'has-error' : myForm.web.$invalid && !myForm.web.$pristine }">
        <label class="col-sm-3 control-label">API Reference Key:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input type="number" min='0' class="form-control mod" name="staffSize" ng-model="agentController.apiRefenceKey" placeholder="API Reference Key">
        </div>
      </div>
       <div class="form-group" ng-class="{ 'has-error' : myForm.web.$invalid && !myForm.web.$pristine }">
        <label class="col-sm-3 control-label">Price Cache Duration In Days:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input type="number" min='0' class="form-control mod" name="staffSize" ng-model="agentController.cacheDuration" placeholder="Price Cache Duration">
        </div>
      </div>  

    </form>

    <hr>
    <button class="btn btn-primary" ng-disabled="error || incomplete
 || (agentController.city === null) || (agentController.city === '') || myForm.fName.$error.minlength
 || (agentController.lat === '') || (agentController.lat === null)
 || (agentController.long === '') || (agentController.long === null)
 || (agentController.address === '') || (agentController.address === null)
 || myForm.fName.$error.maxlength || myForm.fName.$error.pattern
 || !(agentController.fName)  || myForm.agencyName.$error.minlength
 || myForm.agencyName.$error.maxlength || myForm.agencyName.$error.pattern
 || !(agentController.agencyName) || (myForm.email.$invalid && !myForm.email.$pristine)
 || !(agentController.email) || (agentController.email===null) || (myForm.contact.$invalid && !myForm.contact.$pristine)
 || !(agentController.contact)
 || (agentController.countriesOffered.length === 0) || (agentController.countriesOffered === null)
 || (agentController.cacheDuration === null || agentController.cacheDuration === '')
 || (agentController.apiRefenceKey === null || agentController.apiRefenceKey === '')
     || (agentController.operatingDays.length === 0) || (agentController.operatingDays === null)" ng-click="saveAgent()">
    <span class="glyphicon glyphicon-save"></span> Save Changes
  </button>
  </modal>
</div>