<div class="col-lg-12 col-md-12" ng-controller="countryCombinationsController">
  <h3 class="text-center">States</h3>

  <button style="position:relative;z-index:20"  class="btn btn-success" ng-click="editCombination('new');toggleModal();">
    <span class="glyphicon glyphicon-"></span> Create New Combination
  </button>
  <div style="position:relative;z-index:20" class="form-group pull-right">
    <!--<label >Search</label>-->
    <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
  </div>
  </br></br>
  <div  style="position:relative;z-index:20" class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead><tr>
        <th ng-click="sort('id')">Combination Id
          <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('state')">Name
          <span class="glyphicon sort-icon" ng-show="sortKey=='state'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <!--<th ng-click="sort('country')">Country-->
          <!--<span class="glyphicon sort-icon" ng-show="sortKey=='country'"-->
                <!--ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
        <!--</th>-->

        <th>Edit</th>
        <th>Status</th>
      </tr></thead>
      <tbody>
      <tr dir-paginate="combination in combinations |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">

        <td>{{ combination.id }}</td>
        <td>{{ combination.name }}</td>
        <!--<td>{{ state.country }}</td>-->

        <td>
          <button class="btn" ng-click="editCombination(combination.sequence);toggleModal();">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-success btn-sm statusBtn" ng-show="combination.active" ng-click="statusState(combination.sequence)" >
            Active
          </button>
          <button class="btn btn-danger btn-sm statusBtn" ng-hide="combination.active" ng-click="statusState(combination.sequence)" >
            Deactive
          </button>
        </td>
      </tr></tbody>
    </table>
    <dir-pagination-controls
      max-size="20"
      direction-links="true"
      boundary-links="true">
    </dir-pagination-controls>
  </div>  <!-- End table-responsive -->

  <button style="position:relative;z-index:20"  class="btn btn-success" ng-click="getMoreCombinations();">
    <span class="glyphicon glyphicon-"></span> Get More
  </button>

  <modal title="City Form" dikhao="showModal">

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Combination name:<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" ng-model="countryCombinationsController.name" placeholder="Name">
        </div>
        <div class="col-sm-4">
          <span style="color:red" ng-show="(countryCombinationsController.name === '')">Name is required</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Countries: (minimum 2)<span style="color:red">*</span></label>

        <div class="col-sm-8">
          <dropdown-multiselect model="countryCombinationsController.includedCountries" options="countries"></dropdown-multiselect>
        </div>
        <div class="col-sm-4 col-sm-offset-3">
          <span style="color:red" ng-show="(countryCombinationsController.includedCountries.length === 0)">Choose atleast one.</span>
        </div>
      </div>

    </form> <!-- End Form -->

    <hr>
    <button class="btn btn-primary" ng-disabled="error || incomplete  || (countryCombinationsController.name === '')
    || (countryCombinationsController.name === null)
    || (countryCombinationsController.includedCountries === '') || (countryCombinationsController.includedCountries === null)
    || $scope.countryCombinationsController.includedCountries.length<2"
            ng-click="saveState()">
      <span class="glyphicon glyphicon-save"></span> Save Changes
    </button>
</div>
</modal> <!-- End modal -->
</div>
