<div class="col-lg-12 col-md-12" ng-controller="countryController">
  <h3 class="text-center">Countries</h3>

  <button style="position:relative;z-index:20" class="btn btn-success" ng-click="editCountry('new');toggleModal();">
    <span class="glyphicon glyphicon-"></span> Create New Country
  </button>
  <div style="position:relative;z-index:20" class="form-group pull-right">
    <!--<label >Search</label>-->
    <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
  </div>
  </br></br>
  <div style="position:relative;z-index:20" class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>


        <th ng-click="sort('id')">Country Id
          <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th ng-click="sort('country')">Country
          <span class="glyphicon sort-icon" ng-show="sortKey=='country'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('continent')">Continent
          <span class="glyphicon sort-icon" ng-show="sortKey=='continent'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>


        <!--<th>Country Id</th>-->
        <!--<th>Country</th>-->
        <!--<th>Continent</th>-->
        <th>Edit</th>
        <th>Status</th>
        <th>Saved Images</th>
      </tr>
      </thead>
      <tr dir-paginate="country in countries |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">

        <!--<tbody><tr ng-repeat="country in countries">-->


        <td>{{ country.id }}</td>
        <td>{{ country.country }}</td>
        <td>{{ country.continent }}</td>

        <td>
          <button class="btn" ng-click="editCountry(country.sequence);toggleModal();">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-success btn-sm statusBtn" ng-show="country.status"
                  ng-click="statusCountry(country.sequence)">
            Active
          </button>
          <button class="btn btn-danger btn-sm statusBtn" ng-hide="country.status"
                  ng-click="statusCountry(country.sequence)">
            Deactive
          </button>
        <td class="text-center">
          <button class="btn btn-success btn-sm statusBtn"
                  ng-click="showSavedImages(country.sequence)">
            Show
          </button>
        </td>
        </td>
      </tr>
      </tbody>
    </table>
    <dir-pagination-controls
      max-size="20"
      direction-links="true"
      boundary-links="true">
    </dir-pagination-controls>
  </div>
  <!-- End table-responsive -->

  <button style="position:relative;z-index:20" class="btn btn-success" ng-click="getMoreCountries();">
    <span class="glyphicon glyphicon-"></span> Get More
  </button>

  <modal title="City Form" dikhao="showModal">

    <form class="form-horizontal">
      <div class="form-group" ng-if="act == 'add'">
        <label class="col-sm-3 control-label">Continent:<span style="color:red">*</span></label>

        <div class="col-sm-4">
          <select class="form-control" ng-model="countryController.continent"
                  ng-options="item.id as item.continent for item in continents">
            <option value="">Select Continent</option>
          </select>
        </div>
        <div class="col-sm-4">
          <span style="color:red" ng-show="(countryController.continent === null)">Continent is required</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Country:<span style="color:red">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" ng-model="countryController.country" placeholder="Country">
        </div>
        <div class="col-sm-4">
          <span style="color:red" ng-show="(countryController.country === '')">Country is required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Location:<span style="color:red">*</span></label>

        <div class="col-sm-4">
          <button class="btn btn-success" ng-click="getGoogleLocation();">
            <span class="glyphicon glyphicon-"></span> Get Location
          </button>

          <select class="form-control" ng-model="countryController.location"
                  ng-options="item as item.name for item in googleLocations"
                  ng-change="onLocationSelected(countryController.location)">
            <option value="">Select Option</option>
          </select>

          <input type="text" class="form-control" id="lat" ng-model="countryController.lat" placeholder="Latitude"
                 ng-change="loadMap(countryController.lat,countryController.long,0)">

          <input type="text" class="form-control" id="lng" ng-model="countryController.long" placeholder="longitute"
                 ng-change="loadMap(countryController.lat,countryController.long,0)">

        </div>

        <div class="col-sm-5">
          <div class="map_canvas" id="map_canvas"></div>
          <button style="float:right" ng-click="loadMap(countryController.lat,countryController.long,0)">
            Re-Center
          </button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Minimum Days for visit<span style="color:red">*</span></label>

        <div class="col-sm-6">
          <input class="col-sm-6 mod" type="number" step="1" min="0"
                 ng-model="countryController.min_days"
                 placeholder="Days">
        </div>

        <div class="col-sm-4">
          <span style="color:red" ng-show="(countryController.min_days === '')">Minimum Days are required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Maximum Days for visit<span style="color:red">*</span></label>

        <div class="col-sm-6">
          <input class="col-sm-6 mod" type="number" step="1" min="0"
                 ng-model="countryController.max_days"
                 placeholder="Days">
        </div>
        
        <div class="col-sm-4">
          <span style="color:red" ng-show="(countryController.max_days === '')">Maximum Days are required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Optimum Days for visit<span style="color:red">*</span></label>

        <div class="col-sm-6">
          <input class="col-sm-6 mod" type="number" step="1" min="0"
                 ng-model="countryController.opt_days"
                 placeholder="Days">
        </div>

         <div class="col-sm-4">
          <span style="color:red" ng-show="(countryController.opt_days === '')">Optimum Days are required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Description:</label>

        <div class="col-sm-6">
          <textarea class="form-control" rows="10" ng-model="countryController.description" placeholder="Description"
          ></textarea>
        </div>
      </div>

      <div class="form-group">

        <label class="col-sm-3 control-label">ISO 3166 code :<span style="color:red">*</span></label>

        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="countryController.iso3166_code" placeholder="ISO 3166 code">
        </div>
        <label class="col-sm-3 control-label">Source : https://www.iso.org/obp/ui/#search</label>

        <div class="col-sm-4">
          <span style="color:red" ng-show="(countryController.iso3166_code === '')">iso3166_code is required</span>
        </div>
      </div>

    </form>
    <!-- End Form -->

    <hr>
    <button class="btn btn-primary" ng-disabled="error || incomplete || (countryController.continent === '') || (countryController.continent === null)
    || (countryController.country === '') || (countryController.country === null)
    || (countryController.iso3166_code === '') || (countryController.iso3166_code === null)
    || (countryController.max_days === '') || (countryController.min_days === '') || (countryController.opt_days==='')
    || (countryController.max_days === null) || (countryController.min_days === null) || (countryController.opt_days=== null) " ng-click="saveCountry()">
      <span class="glyphicon glyphicon-save"></span> Save Changes
    </button>
  </modal>
  <!-- End modal -->

</div>
