<style>
  md-backdrop { 
    height: 100% !important; 
  }
</style>
<!-- CreateItineraryController -->
<h3 class="text-center">Create Itinerary</h3>
<div>
  <div class="well col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3" style="margin-top:20px;">
    <div class="create_itinerary" style="width: 100%; text-align: center; padding-top: 30px; padding-bottom: 30px;">
      <input type="button" value="Create Itinerary" ng-click="openModal();" class="save_btn md-button btn btn-info btn-lg">
    </div>
    <!-- Modal -->
    <!--div id="myModal" class="modal fade in" role="dialog">
      <div class="modal-dialog create_dialog">
        <div class="modal-content create_content">
          <div class="modal-header find_header">
            <button type="button" class="close find_close_button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title">Create Itinerary</p>
          </div>
          <section class="edit_details find_package create_package">
            <form action="/action_page.php">
              <div class="row clearfix">
                <div class="row clearfix">
                  <div class="designation_block" ng-repeat="destination in Destinations track by $index" ng-init="position=$index">
                    <div class="location_block">
                      <div class="addlocaation_block">
                        <p class="feild_title">Location</p>
                          <div angucomplete-alt id="{{'ex_' + $index}}" style="border-bottom: 1px solid #ccc;" placeholder="Select Destination City" pause="300" selected-object="selectedDestinationCityFunction" remote-url="{{destinationSearchUrl}}"remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="response.message"search-field="name" title-field="name" initial-value="destination.userDestinationCity" description-field="type" minlength="1" focus-in="resetDestinationCityData($index)"input-class="form-control form-control-small" match-class="highlight" ng-model="destination.userDestinationCity">
                        </div>
                      </div>
                      <div class="night_block">
                        <p class="feild_title">night</p>
                        <div>
                          <select class="form-control" ng-model="destination.noOfNight"  ng-options="x for x in nights"></select>
                        </div>
                      </div>
                      <p><img src="images/icons/close.jpg" ng-if="Destinations.length > 1" ng-click="deleteDestination(position)"></p>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <button type="button" class="add_location" ng-click="addDestination();">+ Add more destination</button>
                </div>
              </div>

              <div class="popup_buttons">
                <button type="button" class="save_btn" ng-click="createItinerary();">CREATE ITINERARY</button>
              </div>

            </form>
          </section>
        </div>
      </div>
    </div-->
    <!--- model end here-->

    <script type="text/ng-template" id="createItinerary.tmpl.html">
      <md-dialog class="dialog_size" aria-label="Dates for Another Hotel" ng-cloak style="z-index: 99998; max-height:100% !important;">
          <md-dialog-content>
            <div class="md-dialog-content" style="padding: 0px;">
              <div class="modal-content create_content" style="border:0px;">
                <div class="modal-header find_header">
                  <button type="button" class="close find_close_button" ng-click="ctrl.parent.cancelDialog();">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <p class="modal-title">{{ctrl.parent.title}}</p>
                </div>
                <section class="edit_details find_package create_package create_deal">
                  <form>
                    <div class="row clearfix">
                      <div class="row clearfix">
                        <div class="destination_block" ng-repeat="destination in ctrl.parent.Destinations track by $index" ng-init="position=$index">
                          <div class="location_block">
                            <div class="addlocation_block">
                              <p class="feild_title">Location</p>
                                <div angucomplete-alt id="{{'ex_' + $index}}" style="border-bottom: 1px solid #ccc;z-index:9999;" placeholder="Select Destination City" pause="300" selected-object="ctrl.parent.selectedDestinationCityFunction" remote-url="{{ctrl.parent.destinationSearchUrl}}"remote-url-request-formatter="ctrl.parent.remoteUrlRequestFn" remote-url-data-field="response.message"search-field="name" title-field="name" initial-value="destination.userDestinationCity" description-field="type" minlength="1" focus-in="ctrl.parent.resetDestinationCityData($index)"input-class="form-control form-control-small" match-class="highlight" ng-model="destination.userDestinationCity">
                              </div>
                            </div>
                            <div class="night_block">
                              <p class="feild_title">night</p>
                              <div>
                                <select class="form-control" ng-model="destination.noOfNight"  ng-options="x for x in ctrl.parent.nights"></select>
                              </div>
                            </div>
                            <p style="margin-top: 5px; margin-left: 25px;"><img src="images/icons/close.jpg" ng-if="ctrl.parent.Destinations.length > 1" ng-click="ctrl.parent.deleteDestination(position)"></p>
                          </div>
                        </div>
                      </div>
                      <div> 
                        <div class="row clearfix" style="float:left;">
                          <button type="button" class="add_location" ng-click="ctrl.parent.addDestination();">+ Add more destination</button>
                        </div>
                        <div class="popup_buttons" style="float:right;">
                          <button type="button" class="save_btn" ng-click="ctrl.parent.createItinerary();">CREATE ITINERARY</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </md-dialog-content>
      </md-dialog>
    </script>
  </div>
</div>