<style>
  .md-datepicker-input-container {
  display: inline-block;
  width:250px;
  margin-left:0px;
  padding-left:0px;
  border-bottom: none;
}
md-datepicker[disabled] .md-datepicker-input-container {
  border-bottom: none;
}

md-backdrop { 
  height: 100% !important; 
}

</style>
<div style="background-color: #F2F2F2; height:100%;width:100%;left: 50%;" ng-controller="DealsController" ng-init="initData()">
  <md-toolbar class="md-hue-2" style="padding: 0px;">
    <div class="md-toolbar-tools" style="padding-top: 6px;">
      <md-button ng-click="goBack();" style="height:48px; width:48px;align-content: center;" class="md-icon-button" aria-label="Settings">
        <img src="images/ic_arrow_back.png" class="backicon" style="align-content: center;" />
      </md-button>
      <h2>
        <span style="overflow: hidden; white-space: nowrap;color: #fff;">Deals</span>
      </h2>
    </div>
  </md-toolbar>
  <div class="create_itinerary" style="width: 100%; text-align: center; padding-top: 30px; padding-bottom: 10px;">
    <!--input type="button" value="Create Custom Itinerary" ng-click="findItinerary();" class="save_btn md-button btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"-->
    <input type="button" value="Create Custom Itinerary" ng-click="openModal();" class="save_btn md-button btn btn-info btn-lg">
  </div>
  <div style="height:25px;"></div>
  <div style="width: 100%; text-align: center; padding-top: 30px; padding-bottom: 10px;">
    <span style="font-family: Roboto-Regular; font-size: 15px; text-align: center;">
      OR
    </span>
  </div>
  <div style="height:20px"></div>
  <div style="width: 100%; text-align: center;border-bottom:1px; border-bottom-color: #9E9E9E;
    border-bottom-style: solid; padding-top: 10px; padding-bottom: 20px;">
    <span style="font-family: Roboto-Regular; font-size: 32px; text-align: center;" title=" Deal Category">
      Deal Category
    </span>
  </div>
  <div class="row" style="height:100%;margin:0 80px 80px 80px; ">
    <div style="margin-top: 66px;" ng-class="body_image">
      <div ng-if="templates.length === 0" style="text-align: center;margin-top:20vh;margin-bottom:20vh;font-size: 18px;">  Currently no deals are available for the selected destinations
      </div>
      <div class="col-md-4" ng-repeat="template in templates track by $index" ng-if="templates.length>0" style="padding: 0px;">
        <md-card style="margin: 11px;box-shadow: none;cursor:pointer;" ng-click="onTemplateSelection(template)">
          <!--Description-->
          <div class="col-xs-12" style="padding: 0px;">
            <div class="col-xs-10 card_title_padding_left" style="width:100%;outline: none;padding: 8px; padding-bottom: 4px;">
              <span style="display:block;font-size: 16px; font-family: Roboto-Regular;text-transform: capitalize;"><b>{{template.name}}</b></span>
              <span>{{template.nameString}}</span>
              <span style="display:block;font-size: 11px;font-family: Roboto-Regular;" ng-if="template.hotel_types_string">{{template.hotel_types_string}} star hotels</span>
              </span>
            </div>
          </div>
          <!--Image-->
          <div class="col-xs-12" style="padding: 0px;outline: none;">
            <div class="gradient-effect" style=" position: relative; float: left;width:100%; height: 213px;">
              <img ng-src='{{template.cover_image}}' src="loaders/image_loading.png" style="height: 213px;z-index: -1;object-fit: cover;object-position: center;width:100%;">
              <div class="col-xs-12" style="position: absolute;top: 8px;padding: 0px;">
                <span style="font-size: 10px; color: white;background-color: #ffa32c;padding: 4px;
              padding-right: 8px;padding-left: 8px;border-top-right-radius: 12px;
              border-bottom-right-radius: 12px;font-family: Roboto-Regular;" ng-if="template.is_editable===false">Deal
            | valid till {{template.end_date_formatted}}</span>
                <span style="font-size: 10px; color: white;padding: 4px;border: 1px solid white; border-top-right-radius: 12px;
              border-bottom-right-radius: 12px;padding-right: 8px;padding-left: 8px;border-left: none;
            font-family: Roboto-Regular;" ng-if="template.is_editable">Customisable</span>
                <span style="font-size: 10px; color: white;padding: 4px;border: 1px solid white; border-top-right-radius: 12px;
              border-bottom-right-radius: 12px;padding-right: 8px;padding-left: 8px;border-left: none;
            font-family: Roboto-Regular;" ng-if="template.hot_deal===true">Hot Deal</span>
              </div>
              <div class="col-xs-12" style="position: absolute;bottom:10px;padding-left: 8px; padding-right: 8px;line-height: 1.35;">
                <span style="display:block;font-size: 11px; color: white; font-family: Roboto-Regular;margin-top: 4px;">Sightseeing: {{template.tourTypeString}}</span>
                <div class="col-xs-12" style="position: relative;padding: 0px;padding-top:4px;">
                  <span style="font-size: 11px; color: white;background-color: #3b93ff;padding: 6px;padding-top: 2px; padding-bottom: 2px;
              font-family: Roboto-Regular;">{{template.tourist_type_name_string}}</span>
                  <span style="font-size: 16px; color: white; font-family: Roboto-Medium;position: absolute;right: 0px;
              padding-left: 10px; padding-right: 2px;">Rs {{template.starting_price}} pp</span>
                </div>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <!--div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog create_dialog">
      <div class="modal-content create_content">
        <div class="modal-header find_header">
          <button type="button" class="close find_close_button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p class="modal-title">Create Custom Itinerary</p>
        </div>
        <section class="edit_details find_package create_package">
          <form>
            <div class="row" style="margin-bottom:20px;">
              <div class="col-md-5 col-sm-3 col-xs-6 edit_block">
                <p class="edit-caption"> Departure City</p>
                <div>
                  <div angucomplete-alt id="ex" placeholder="Select Departure City" pause="300" selected-object="selectedBoardingCityFunction" remote-url="{{destinationSearchUrl}}" remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="response.message"
                    search-field="name" title-field="name" index-field="$index" initial-value="DealsController.userPrefboardingCity" description-field="type" minlength="1" input-class="form-control form-control-small"
                    match-class="highlight" ng-model="DealsController.userPrefboardingCity" class="departure_city">
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-3 col-xs-6 edit_block">
                <p class="edit-caption"> Departure Date</p>
                <input type="date" ng-model="DealsController.startDate" placeholder="Date" style="width:250px; padding:0px" ng-change="updateStartDate();">
              </div>
            </div>
            <div class="row clearfix">
              <div class="row clearfix">
                <div class="designation_block" ng-repeat="destination in Destinations track by $index" ng-init="position=$index">
                  <div class="location_block">
                    <div class="addlocaation_block">
                      <p class="edit-caption">Location</p>
                      <div angucomplete-alt id="{{'ex_' + $index}}" placeholder="Select Destination City" pause="300" selected-object="selectedDestinationCityFunction" remote-url="{{destinationSearchUrl}}" remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="response.message"
                        search-field="name" index-field="$index" title-field="name" initial-value="destination.userDestinationCity" description-field="type" minlength="1" input-class="form-control form-control-small"
                        match-class="highlight" ng-model="destination.userDestinationCity" class="departure_city">
                      </div>
                    </div>
                    <div class="inout_block">
                      <div class="in_block">
                        <p class="edit-caption">Start Date</p>
                        <input type="date" ng-model="destination.startDate" placeholder="Date" style="border-bottom:0px;" ng-disabled="true">
                      </div>
                      <div class="out_block">
                        <p class="edit-caption">End Date</p>
                        <input type="date" ng-model="destination.endDate" placeholder="Date" style="border-bottom:0px;" ng-disabled="true">
                      </div>
                    </div>
                    <div class="night_block">
                      <p class="edit-caption">night</p>
                      <div>
                        <select class="form-control" ng-model="destination.noOfNight" ng-change="populateDate(position)" ng-options="x for x in nights"></select>
                      </div>
                    </div>
                    <p><img src="images/icons/close.jpg" class="create_package_close_btn"ng-if="Destinations.length > 1" ng-click="deleteDestination(position)"></p>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <button type="button" class="add_location" ng-click="addDestination();">+ Add more destination</button>
              </div>
            </div>
            <div class="pax_details">
              <div class="row clearfix">
                <div class="row clearfix edit_block">
                  <div class="col-md-2 edit_block">
                    <p class="edit-caption">Select Rooms</p>
                    <div class="dropdown">
                      <select class="form-control" ng-model="DealsController.noOfRooms" ng-change="addTravellers()" ng-options="x for x in nights"></select>
                    </div>
                  </div>
                  <div class="col-md-10 edit_block">
                    <div class="row traveller_details" ng-repeat="traveller in Travellers track by $index" ng-init="position=$index">
                      <div class="col-md-8 child_count_border" style="padding-right:0;">
                        <p class="edit-caption">Select Travellers</p>
                        <div class="col-md-4 edit_block">
                          <div class="dropdown">
                            <select class="form-control" ng-model="traveller.noAdults" ng-options="item.id as item.name for item in adults">
                              </select>
                          </div>
                        </div>
                        <div class="col-md-4 edit_block">
                          <div class="dropdown">
                            <select class="form-control" ng-model="traveller.noChild" ng-options="item.id as item.name for item in child" ng-change="addChildAge(position)">
                              </select>
                          </div>
                        </div>
                        <div class="col-md-4 edit_block ">
                          <div class="dropdown">
                            <select class="form-control" ng-model="traveller.noInfant" ng-options="item.id as item.name for item in infant">
                              </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 edit_block " ng-show="traveller.noChild > 0">
                        <div class="dropdown col-md-6 traveller_child" ng-repeat="child in traveller.childAge track by $index">
                          <select class="form-control" ng-model="child.age" ng-options="x for x in childAges">
                            <option value="">Age</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="budget_block">
              <div class="row clearfix">
                <div class="row clearfix edit_block">
                  <div class="col-md-4 edit_block travel_budget">
                    <md-input-container class="md-block feild_title" flex-gt-sm>
                      <label>Budget</label>
                      <input type="number" class="form-control mod" min="0" name="budget" ng-model="DealsController.totalBudget" placeholder="Enter Budget">
                    </md-input-container>
                  </div>
                  <div class="col-md-8 edit_block child_count">
                    <md-input-container class="md-block feild_title" flex-gt-sm>
                      <label>Hotel Preferences</label>
                      <dropdown-multiselect model="DealsController.hotelPreferences" options="hotelPreferences" class="hotal_rating">
                      </dropdown-multiselect>
                    </md-input-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="popup_buttons" id="createItinerary">
              <button type="button" class="save_btn" ng-click="saveDraft();">CREATE ITINERARY</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div-->
  <!---  model end here-->

  <script type="text/ng-template" id="createItinerary.tmpl.html">
    <md-dialog class="dialog_size" aria-label="Create Itinerary" ng-cloak style="z-index: 99998; max-height:100% !important;">
      <md-dialog-content>
        <div class="md-dialog-content" style="padding: 0px;">
          <div class="create_content">
            <div class="modal-header find_header">
              <button type="button" class="close find_close_button" ng-click="ctrl.parent.cancelDialog();"><span aria-hidden="true">&times;</span></button>
              <p class="modal-title">Create Custom Itinerary</p>
            </div>
            <section class="edit_details find_package create_package">
              <form>
                <div class="row" style="margin-bottom:20px;">
                  <div class="col-md-5 col-sm-3 col-xs-6 edit_block">
                    <p class="edit-caption"> Departure City</p>
                    <div>
                      <div angucomplete-alt id="ex" placeholder="Select Departure City" pause="300" selected-object="ctrl.parent.selectedBoardingCityFunction" remote-url="{{ctrl.parent.destinationSearchUrl}}" remote-url-request-formatter="ctrl.parent.remoteUrlRequestFn" remote-url-data-field="response.message"
                        search-field="name" title-field="name" index-field="$index" initial-value="ctrl.parent.DealsController.userPrefboardingCity" description-field="type" minlength="1" input-class="form-control form-control-small"
                        match-class="highlight" ng-model="ctrl.parent.DealsController.userPrefboardingCity" class="departure_city">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-3 col-xs-6 edit_block">
                    <p class="edit-caption" style="padding-left:15px;"> Departure Date</p>
                    <!--input type="date" ng-model="ctrl.parent.DealsController.startDate" placeholder="Date" style="width:250px; padding:0px" ng-change="ctrl.parent.updateStartDate();" min="{{minDate}}"-->
                    <md-datepicker  id="departureDate" ng-model="ctrl.parent.DealsController.startDate" md-placeholder="Departure Date" style="width:250px; padding:0px" ng-change="ctrl.parent.updateStartDate();" md-open-on-focus onkeydown="return false"></md-datepicker>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="row clearfix">
                    <div class="designation_block" ng-repeat="destination in ctrl.parent.Destinations track by $index" ng-init="position=$index">
                      <div class="location_block">
                        <div class="addlocaation_block">
                          <p class="edit-caption">Location</p>
                          <div angucomplete-alt id="{{'ex_' + $index}}" placeholder="Select Destination City" pause="300" selected-object="ctrl.parent.selectedDestinationCityFunction" remote-url="{{ctrl.parent.destinationSearchUrl}}" remote-url-request-formatter="ctrl.parent.remoteUrlRequestFn" remote-url-data-field="response.message"
                            search-field="name" index-field="$index" title-field="name" initial-value="destination.userDestinationCity" description-field="type" minlength="1" input-class="form-control form-control-small"
                            match-class="highlight" ng-model="destination.userDestinationCity" class="departure_city">
                          </div>
                        </div>
                        <div class="inout_block">
                          <div class="in_block">
                            <p class="edit-caption">Start Date</p>
                            <input type="text" ng-model="destination.startDate" placeholder="Start Date" style="border-bottom:0px;" ng-disabled="true"-->
                            <!--md-datepicker id="startDate_$index" ng-model="destination.startDate" md-placeholder="Start Date" style="border-bottom:0px;" ng-disabled="true"></md-datepicker-->
                          </div>
                          <div class="out_block">
                            <p class="edit-caption">End Date</p>
                            <input type="text" ng-model="destination.endDate" placeholder="End Date" style="border-bottom:0px;" ng-disabled="true">
                            <!--md-datepicker id="endDate_$index" ng-model="destination.endDate" md-placeholder="End Date" style="border-bottom:0px;" ng-disabled="true"></md-datepicker-->
                          </div>
                        </div>
                        <div class="night_block">
                          <p class="edit-caption">night</p>
                          <div>
                            <select class="form-control" ng-model="destination.noOfNight" ng-change="ctrl.parent.populateDate(position)" ng-options="x for x in ctrl.parent.nights"></select>
                          </div>
                        </div>
                        <p>
                          <img src="images/icons/close.jpg" class="create_package_close_btn" ng-click="ctrl.parent.deleteDestination(position)" ng-if="ctrl.parent.Destinations.length > 1">
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <button type="button" class="add_location" ng-click="ctrl.parent.addDestination();">+ Add more destination</button>
                  </div>
                </div>
                <div class="pax_details">
                  <div class="row clearfix">
                    <div class="row clearfix edit_block">
                      <div class="col-md-2 edit_block">
                        <p class="edit-caption">Select Rooms</p>
                        <div class="dropdown">
                          <select class="form-control" ng-model="ctrl.parent.DealsController.noOfRooms" ng-change="ctrl.parent.addTravellers()" ng-options="x for x in ctrl.parent.nights"></select>
                        </div>
                      </div>
                      <div class="col-md-10 edit_block">
                        <div class="row traveller_details" ng-repeat="traveller in ctrl.parent.Travellers track by $index" ng-init="position=$index">
                          <div class="col-md-8 child_count_border" style="padding-right:0;">
                            <p class="edit-caption">Select Travellers</p>
                            <div class="col-md-4 edit_block">
                              <div class="dropdown">
                                <select class="form-control" ng-model="traveller.noAdults" ng-options="item.id as item.name for item in ctrl.parent.adults">
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-4 edit_block">
                              <div class="dropdown">
                                <select class="form-control" ng-model="traveller.noChild" ng-options="item.id as item.name for item in ctrl.parent.child" ng-change="ctrl.parent.addChildAge(position)">
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-4 edit_block ">
                              <div class="dropdown">
                                <select class="form-control" ng-model="traveller.noInfant" ng-options="item.id as item.name for item in ctrl.parent.infant">
                                  </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 edit_block " ng-show="traveller.noChild > 0">
                            <div class="dropdown col-md-6 traveller_child" ng-repeat="child in traveller.childAge track by $index">
                              <select class="form-control" ng-model="child.age" ng-options="x for x in ctrl.parent.childAges">
                                <option value="">Age</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="budget_block">
                  <div class="row clearfix">
                    <div class="row clearfix edit_block">
                      <!--p class="edit-caption"> Budget</p>
                      <div class="col-md-4 edit_block">
                        <input type="text" name="location" ng-model="DealsController.totalBudget" placeholder="Enter Budget" value="&#8377 50,000/-" class="budget_filed">
                      </div-->
                      <div class="col-md-4 edit_block travel_budget">
                        <md-input-container class="md-block feild_title" flex-gt-sm>
                          <label>Budget</label>
                          <input type="number" class="form-control mod" min="0" name="budget" ng-model="ctrl.parent.DealsController.totalBudget" placeholder="Enter Budget">
                        </md-input-container>
                      </div>
                      <div class="col-md-8 edit_block child_count">
                        <!--div class="row">
                          <div>
                            <span class="travel_details">Hotel Preferences</span>
                            <dropdown-multiselect model="DealsController.hotelPreferences" options="hotelPreferences"></dropdown-multiselect>
                          </div>
                        </div-->
                        <md-input-container class="md-block feild_title" flex-gt-sm>
                          <label>Hotel Preferences</label>
                          <dropdown-multiselect model="ctrl.parent.DealsController.hotelPreferences" options="ctrl.parent.hotelPreferences" class="hotal_rating">
                          </dropdown-multiselect>
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup_buttons" id="createItinerary">
                  <button type="button" class="save_btn" ng-click="ctrl.parent.saveDraft();">CREATE ITINERARY</button>
                </div>
              </form>
            </section>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </script>

  <div id="dummy" style="display:none;" class="modal" role="dialog">
  </div>
</div>
