<style>
  body {
    background-color: white;;
  }

  .md-scroll-mask {
    position: initial !important;
  }
  .hotel_room_img img {
    width: 210px;
    height: 160px;
}
.wrapper {
    width: 100%;
    overflow: hidden;
}
.wrapperRooms {
    width: 100%;
    overflow: hidden;
    display: flex;
}
.mediaList {
    width: 70%;
    height:100%;
    float:left;
}
.amenities {
    overflow: hidden;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
.amenities_section_data {
    border-left: none!important;
    border-top: 1px solid #ccc;
}
.amenities ul { 
    margin: 5px; 
    padding: 0;
    float: left; 
    display: inline; 
    font-size: 14px;
    overflow:hidden;
    list-style-type: disc;
    color: #4c4c4c;
    font-size: 14px;
    font-family: Museo Sans Rounded\ 300;
}
.hotelDetails {
    flex:2;
    text-align: center;
}
.hotelDetailsMiddle {
  flex:4;
  text-align: center;
}
.hotelDetails1 {
    flex:4;
    text-align: center;
}
.hotelDetails2 {
    flex:1;
    text-align: center;
}
.result_hotel {
  background: #fff;
  color: rgba(0,0,0,.7);
  cursor: pointer;
  display: flex;
  padding: 10px 0;
  position: relative;
}
.dummy1 {
  flex:5;
  border-left: 1px solid rgba(0,0,0,.1);
}

.dummy2 {
  flex:2;
  background: #fffbed;
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.container {
  width:100%;
  max-width: 100%;
  padding-right:0;
  padding-left:1px;
}

.container1 {
  width:100%;
  max-width: 100%;
}
.hotel_room_fare_breakup {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.offerPlan {
    float: left;
    margin: 0 25px 3px 0;
    font-size:14px;
}
.fare_breakup_facilities {
    border-right: 1px solid rgba(0,0,0,.1);
    width: 50%;
    min-height: 72px;
}
.your-select h3{
    background: #fff7dc;
    font-size: 24px;
    padding: 10px 20px;
    margin: 0;
    font-family: Museo Sans Rounded\ 500;
    letter-spacing: .2px;
}
.duration {
    font-size: 16px;
    font-family: Museo Sans Rounded\ 300;
}
.roomSelected {
  background: #fffbed;
  border-right-style:none;
}
.roomUnSelected {
  background: #ffffff;
}
.selection_details {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.selection_details p {
    font-size: 15px;
    font-family: Museo Sans Rounded\ 500;
}
h6, p {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}

.float_right {
    float: right;
}
.selection_details .charges {
    font-size: 14px!important;
    margin-bottom: 8px;
    line-height: 14px;
}
.selection_details .charges {
    font-size: 13px!important;
    font-family: Museo Sans Rounded\ 300;
    letter-spacing: .3px;
    color: rgba(0,0,0,.7);
    font-weight: 300;
}
.tax_breakup {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 500;
    letter-spacing: .1px;
}
.hotel_detail_tax_breakup {
    color: rgba(0,0,0,.7);
    padding-top: 0;
}
ul {
    font-size: 14px;
    line-height: 24px;
}
.booking_amount {
    padding: 20px;
}
.hotel_room_booking_amount {
    padding-bottom: 16px;
    letter-spacing: .2px;
}
.hotel_room_booking_amount .booking_amount_text {
    font-size: 18px;
    font-weight: 400;
}
.booking_amount .total_amt {
    font-size: 24px;
    font-family: Museo Sans Rounded\ 500;
}
.subHeader {
  font-size: 30px;
}
md-tabs md-ink-bar {
  color: #ff8500;
  background: #ff8500;
}
md-radio-button .md-on {
  background-color: #ff8500;
}

md-radio-button.md-checked .md-ink-ripple {
    color: #ff8500;
}

md-radio-button.md-checked .md-off {
    border-color: #ff8500;
}
</style>
<!-- hotelDetailsController -->
<div style="width:90%;margin:0 auto;" ng-init="initData()" ng-show="hoteldescription">
  <md-toolbar>
    <div class="md-toolbar-tools" style="padding-top: 6px;">
      <h2>
        <span style="overflow: hidden;
          white-space: nowrap;color: #fff;">{{hoteldescription.name}}</span>
          <span ng-if="hoteldescription.star_rating">
            <div>
              <img ng-repeat="n in range(hoteldescription.star_rating) track by $index" src="images/icons/fullstar.png" style="width: 13px;display: inline"/>
              <img ng-if="isFloat(hoteldescription.star_rating)" src="images/icons/halfstar.png" style="width: 13px;display: inline"/>
            </div>
          </span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <div style="height: 100%;padding-bottom: 24px; padding-top: 49px;">
    <div class="wrapper">
      <div class="mediaList" ng-if="dataready" style="height: auto;">
        <slick settings="slickConfig" lazy-load="ondemand" slides-to-show=1 slides-to-scroll=1
               init-onload=true data="hoteldescription">
          <div ng-repeat="image in hoteldescriptionPhotos">
            <img ng-src="{{image.src}}" err-src="loaders/image_loading.png"
                 style="height: 250px;width: 100%;object-fit: cover;object-position: center;"/>
          </div>
        </slick>
      </div>
      <div class="amenities">
        <div class="subHeader">Address</div>
        <div>{{hoteldescription.address}}</div>
        <div class="amenities_section_data">
          <div>
            <h4>Amenities</h4>
            <ul>
              <li ng-repeat="facility in hoteldescription.facilities | limitTo:4">{{facility.name | limitTo:20}}<span ng-if="facility.name.length > 20">&hellip;</span></li>
            </ul>
            <ul>
              <li ng-repeat="facility in hoteldescription.facilities.slice(4, 8)">{{facility.name | limitTo:20}}<span ng-if="facility.name.length > 20">&hellip;</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <md-tabs md-dynamic-height md-border-bottom style="background-color: white; height: auto;" md-swipe-content="true">
      <md-tab label="Rooms">
        <md-content>
          <div class="wrapperRooms">
            <div class="dummy1">
              <div class="container" ng-repeat="room in rooms track by $index">
                <div class="result_hotel" style="display:flex;width:100%;padding: 10px 0;">
                  <div class="hotel hotelDetails hotel_room_img"><img src='loaders/image_loading.png' ng-src="{{room.media_list[0].src}}"/></div>
                  <div class="hotelDetailsMiddle itinerary_city_name" style="float:left;">
                    <div style="float:left;"><h3>{{room.name}}</h3></div><br/>
                    <div style="clear:both";></div>
                    <span style="float:left;">{{room.offers[0].bed_types[0].description}}</span><br/>
                    <span style="float:left;">{{rooms.capacity}}&nbsp;Adults/Room</span>
                  </div>
                  <div class="col-xs-2" style="padding-top: 17px;">
                    <div class="roomprice" style="float: right">
                      &#8377; {{room.offers[0].price.base_fare | formatAmount | cur}}<br>
                      <span style="font-size: 11px;display: block;" class="pernight">/night</span>
                    </div>
                  </div>
                </div>
                <div ng-class="{roomSelected: offer.isSelected}" class="result_hotel hotel_room_fare_breakup" ng-repeat="offer in room.offers track by $index" style="display:flex;width:100%; ng-click="changeRoomType($index)">
                  <div class="hotelDetails1 fare_breakup_facilities">
                    <div style="float:left;"><strong>Rate Plan {{$index + 1}}</strong></div><br/>
                    <ul>
                      <li ng-repeat="food in offer.foodlist track by $index" class="offerPlan">{{food}}</li>
                    </ul><br/>
                    <ul>
                      <li ng-repeat="inclusion in offer.inclusions track by $index" class="offerPlan">{{inclusion}}</li>
                    </ul><br/>
                  </div>
                  <div class="hotelDetails2">
                    <h5>&#8377; {{offer.price.base_fare | formatAmount | cur}}</h5>
                    <span style="color: #7f7f7f;">Room / Night</span><br/><br/>
                    <span>
                      <md-radio-group ng-model="offer.isSelected">
                        <md-radio-button aria-label="roomSelected" style="outline: none;margin-left: 33%;"ng-click="changeRoomType($parent.$index,$index)" value="select">{{offer.isSelected?"Selected":"Select"}}</md-radio-button>
                      </md-radio-group>
                  </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="dummy2">
              <div class="container">
                <div class="your-select">
                  <h3>
                    Your Selection
                    <span class="duration">
                      <span>{{numberOfRooms}} Room</span>
                      <span>{{getNumberOfNights(start_date, end_date)}} Nights</span>
                    </span>
                  </h3>
                </div>
                <div class="selection_details">
                  <p title="Suite, 2 Bedrooms">
                    1 Suite, 2 Bedrooms
                    <span class="float_right price">
                      <span class="">&#8377; {{getBaseBookingAmount(selectedOffer.price.base_fare, start_date, end_date) | formatAmount | cur}}</span>
                    </span>
                  </p>
                  <p class="charges">Price / Night
                    <span class="float_right price">
                      <span class="">&#8377; {{selectedOffer.price.base_fare | formatAmount | cur}}</span>
                    </span>
                  </p>
                  <p class="charges">No of Nights
                    <span class="float_right">X {{getNumberOfNights(start_date, end_date)}}</span>
                  </p>
                  <p class="charges">No of Rooms
                    <span class="float_right">X {{numberOfRooms}}</span>
                  </p>
                  <div>
                    <p class="tax_breakup">Tax Recovery Charges &amp; Service Fee
                      <span class="float_right">
                        <span class="">&#8377; {{getTaxRecoveryCharges(selectedOffer.price.tax, start_date, end_date) | formatAmount | cur}}</span>
                      </span>
                    </p>
                    <ul class="hotel_detail_tax_breakup"></ul>
                  </div>
                </div>
                <div class="booking_amount">
                  <div class="hotel_room_booking_amount">
                    <span class="booking_amount_text">Booking Amount</span>
                    <span class="float_right total_amt">
                      <span class="">&#8377; {{getBookingAmount(selectedOffer.price.tax, selectedOffer.price.base_fare, start_date, end_date) | formatAmount | cur}}</span>
                    </span>
                  </div>
                  <div class="col-xs-12" style="padding-top: 8px;padding-bottom: 8px;">
                    <button ng-click="addHotel()" type="button"
                            style="height: 40px;line-height: 0.3;background-color: #ff8500;
                            width: 90%;border: none;border-radius: 3px;float: right; outline:none;">Done
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="description">
        <md-content class="md-padding">
          <div style="text-align: justify;padding-left: 8px;padding-right: 8px;" class="col-xs-12">
            <div style="font-size: 18px;text-transform: uppercase;padding-bottom: 8px;
        padding-left:8px;padding-top: 8px;font-family: Roboto-Regular;">
              {{hoteldescription.name}}
            </div>
            <div class="col-xs-12 hoteldesc  "
                 style="text-align: justify;padding-bottom: 80px;padding-right: 8px;padding-left: 8px;">
              <div
                style="font-size: 18px;text-transform: uppercase;padding-bottom: 8px;font-weight: bold;padding-top: 8px;color: #FFA32C;">
                details
              </div>
              <div class="linebreak"> {{hoteldescription.description | linebreak}}</div>
            </div>
            </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="reviews" ng-if="hoteldescription.tripadvisor.reviews">
        <md-content class="md-padding " style="padding-bottom: 50px; ">
          <div class="col-xs-12" style="padding: 0px;border-bottom: 1px solid black;">
            <div style="padding:8px;">
              TripAdvisor Traveler Rating
              <div style="margin-top:5px;">
                <img ng-src="{{hoteldescription.tripadvisor.rating_image_url}}" width="80"
                     style="object-fit:cover;object-position: center;">
                Based on {{hoteldescription.tripadvisor.num_reviews}} reviews
              </div>
            </div>
          </div>
          <div ng-repeat="trip in hoteldescription.tripadvisor.reviews" class="col-xs-12"
               style="padding: 0px;border-bottom: 1px solid black;">
            <div style="padding:8px;">
              <div style="display: inline">
                <span>{{trip.title}}</span>
                <img style="float: right" ng-src="{{trip.rating_image_url}}" width="60">
              </div>
              <div class="tuser"> by <span style="text-decoration: underline;">{{trip.user.username}}</span>
                on {{trip.published_date | date:'dd MMMM, yyyy'}}
              </div>
              <div class="reviewdesc">
                {{trip.text}}
              </div>
            </div>
          </div>
          <div class="col-xs-12" style="padding-top: 15px;padding-left:8px;padding-right:8px;text-align: center;">
            <div class="col-xs-6" style="font-size: 19px;padding: 0px;">
              &#169; TripAdvisor 2016
            </div>
            <div class="col-xs-6" style="">
              <img src="images/TripAdvisor.png" style="width: 160px;">
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
  <div class="col-xs-12 snack_bar_panel snack_bar_position" ng-if="showSnackBar===true"
       style="">
    <div style="padding: 0px;text-overflow: ellipsis;overflow: hidden;
    max-height: 20px;text-transform: uppercase;text-align: center;font-family: Roboto-Regular">
      Please <span ng-click="redirectLogin();"
                   style="font-weight: bold;text-decoration: underline;">login / signup</span> to add hotel
    </div>
  </div>
  <!--div class="col-xs-12" style="padding-top: 8px;padding-bottom: 8px;">
    <button ng-click="addHotel()" type="button"
            style="height: 40px;line-height: 0.3;background-color: #0FBCE7;
            width: 20%;border: none;border-radius: 3px;float: right; outline:none;">Done
    </button>
  </div-->
</div>