<div class="edit_itinarery_wrap">
  <div class="row">
    <p class="place_name">
      Dubai Trip
    </p>
  </div>
  <div class="row  fight_wrap">

    <div class="col-md-1 col-sm-1  col-lg-1 nopad itnarery_top">
      <span class="edit_itinarery_tag">Flight</span>
    </div>
    <div class="col-md-11 col-sm-11 col-lg-11 nopad div_common_padding">
      <div class="row margin-bottom">
        <div class="col-md-3 col-lg-3 nopad">
          <div class="row">
            <div class="col-md-7 col-lg-7 nopad editItinarery_flight_date itnarery_top">
              <span>30 August 2017</span>
            </div>
            <div class="col-md-5 col-lg-5 nopad editItinarery_flight_comp">
              <p><img src="images/icons/flight-logo.png"></p>
              <p class="editItinarery_flight_name">Emirates Airline</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 nopad">
          <div class="row">
            <div class="col-md-9 nopad itnarery_top editItinarery_flight_dest">
              <div class="row row_position">
                <div class="editItinarery_flight_source">
                  <p class="dest_place_name">Mumbai<span>BOM</span></p>
                  <p class="dest_time_date">
                    <span>29 july </span>| <span>07:20</span>
                </div>
                <div class="editItinarery_flight_arrow">
                  <p class="dest_forword_arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="editItinarery_flight_destination">
                  <p class="dest_place_name">Dubai<span>DXB</span></p>
                  <p class="dest_time_date">
                    <span>29 july </span>| <span>07:20</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 nopad itnarery_top">
              <p class="editItinarery_flight_price">Rs. 20000</p>
            </div>
          </div>
        </div>
        <div class="col-md-3  col-lg-3 nopad itnarery_top">
          <div class="row">

            <div class="col-md-10 col-lg-10 nopad editItinarery_change_flight">
              <ul>
                <li>Change flight</li>
                <li>Flight Details</li>
              </ul>
            </div>
            <div class="col-md-2 col-lg-2 nopad">
              <p class="editItinarery_close_button">x</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom">
        <div class="col-md-3 col-lg-3 nopad">
          <div class="row">
            <div class="col-md-7 col-lg-7 nopad editItinarery_flight_date itnarery_top">
              <span>30 August 2017</span>
            </div>
            <div class="col-md-5 col-lg-5 nopad editItinarery_flight_comp">
              <p><img src="images/icons/flight-logo.png"></p>
              <p class="editItinarery_flight_name">Emirates Airline</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 nopad">
          <div class="row">
            <div class="col-md-9 col-lg-9 nopad itnarery_top editItinarery_flight_dest">
              <div class="row row_position">
                <div class="editItinarery_flight_source">
                  <p class="dest_place_name">Mumbai<span>BOM</span></p>
                  <p class="dest_time_date">
                    <span>29 july </span>| <span>07:20</span>
                </div>
                <div class="editItinarery_flight_arrow">
                  <p class="dest_forword_arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="editItinarery_flight_destination">
                  <p class="dest_place_name">Dubai<span>DXB</span></p>
                  <p class="dest_time_date">
                    <span>29 july </span>| <span>07:20</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 nopad itnarery_top">
              <p class="editItinarery_flight_price">Rs. 20000</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 nopad itnarery_top">
          <div class="row">
            <div class="col-md-10 col-lg-10 nopad editItinarery_change_flight">
              <ul>
                <li>Change flight</li>
                <li>Flight Details</li>
              </ul>
            </div>
            <div class="col-md-2 col-lg-2 nopad">
              <p class="editItinarery_close_button">x</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-lg-9 nopad"></div>
        <div class="col-md-3 col-lg-3 nopad">
          <button class="btn add_flight_button">ADD FLIGHT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel_wrap">
    <div class="row margin-bottom">
      <div class="col-md-1 col-sm-1 col-lg-1 nopad itnarery_top">
        <span class="edit_itinarery_tag">Hotels</span>
      </div>
      <div class="col-md-11 col-sm-11 col-lg-11 nopad div_common_padding ">
        <div class="hotel_right_side margin-bottom">
          <div class="row">
            <div class="col-md-2 col-lg-2 nopad">
              <p class="Dubai_days">Dubai | 3 Days</p>
            </div>
            <div class="col-md-8 col-lg-8"></div>
          </div>
          <div class="row hotel_container">
            <div class="col-md-3 col-lg-3 nopad hotel_slider">
              <span><img src="images/icons/vector-left.png"></span>
              <img src="images/icons/dubai_img.png" class="vector-margin">
              <span><img src="images/icons/vector-right.png"></span>
            </div>
            <div class="col-md-7 col-lg-7 nopad hotalstay">
              <div class="row">
                <div class="col-md-8 col-lg-8 nopad hotalstay_deatil">
                  <p class="hotalStay_name">Bamboo banks farm guest..</p>
                  <p class="hotalStay_address">Andheri East, Mumbai<span> 2Km from Juhu beach</span></p>
                  <div class="hotalStay_rooms">
                    <p class="room_count">2</p> Rooms left <span><img src="images/icons/elect.png"></span> In High demand
                  </div>
                  <p class="room_detail">5 rooms booked in last 12 hours • 2 looking at this right now</p>
                </div>
                <div class="col-md-4 col-lg-4 nopad hotel_review_detail">
                  <p>4/5<span style="padding-left:10px;">VERY GOOD</span></p>
                  <p><img src="images/icons/layer.png"></p>
                  <p class="hotal_review">145 Reviews</p>
                  <p><img src="images/icons/hand.png">
                    <span class="top_rated">Top Rated</span>
                  </p>
                </div>
              </div>
              <div class="row hotalStay_services">
                <p class="free-offer">Free</p>
                <ul class="service_avilable">
                  <li>Breakfast</li>
                  <li>Cancelation</li>
                  <li>Airport Pickup </li>
                  <li> Wifi | Pay at hotel</li>
                </ul>
              </div>
              <div class="hotel_facilities">
                <ul>
                  <li>AC</li>
                  <li>24 hr room service</li>
                  <li>Swimming Pool</li>
                  <li>Parking</li>
                  <li>Swimming Pool</li>
                  <li>Parking</li>
                </ul>
              </div>
              <div class="additional_facility">
                <p class="plus_button">+</p>
                <p class="hatel_option">Split stay with Second Hotel</p>
                <ul class="change_rooms_option">
                  <li> Change Room</li>
                  <li> Change Room </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 nopad">
              <div class="row">
                <div class="col-md-10 col-lg-10 nopad ">
                  <p class="hotel_perday_price">Rs.500000</p>
                  <p class="number_of_person">Per person per room</p>
                </div>
                <div class="col-md-2 col-lg-2 nopad">
                  <p class="editItinarery_close_button Hotal_button">x</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hotel_right_side margin-bottom">
          <div class="row">
            <div class="col-md-2 col-lg-2 nopad">
              <p class="Dubai_days">Dubai | 3 Days</p>
            </div>
            <div class="col-md-8 col-lg-8"></div>
          </div>
          <div class="row hotel_container">
            <div class="col-md-3 col-lg-3 nopad hotel_slider">
              <span><img src="images/icons/vector-left.png"></span>
              <img src="images/icons/dubai_img.png" class="vector-margin">
              <span><img src="images/icons/vector-right.png"></span>
            </div>
            <div class="col-md-7 col-lg-7 nopad hotalstay">
              <div class="row">
                <div class="col-md-8 col-lg-8 nopad hotalstay_deatil">
                  <p class="hotalStay_name">Bamboo banks farm guest..</p>
                  <p class="hotalStay_address">Andheri East, Mumbai<span> 2Km from Juhu beach</span></p>
                  <div class="hotalStay_rooms">
                    <p class="room_count">2</p> Rooms left <span><img src="images/icons/elect.png"></span> In High demand
                  </div>
                  <p class="room_detail">5 rooms booked in last 12 hours • 2 looking at this right now</p>
                </div>
                <div class="col-md-4 col-lg-4 nopad hotel_review_detail">
                  <p>4/5<span style="padding-left:10px;">VERY GOOD</span></p>
                  <p><img src="images/icons/layer.png"></p>
                  <p class="hotal_review">145 Reviews</p>
                  <p><img src="images/icons/hand.png"><span class="top_rated">Top Rated</span></p>

                </div>
              </div>
              <div class="row hotalStay_services">
                <p class="free-offer">Free</p>
                <ul class="service_avilable">
                  <li>Breakfast</li>
                  <li>Cancelation</li>
                  <li>Airport Pickup </li>
                  <li> Wifi | Pay at hotel</li>
                </ul>
              </div>
              <div class="hotel_facilities">
                <ul>
                  <li>AC</li>
                  <li>24 hr room service</li>
                  <li>Swimming Pool</li>
                  <li>Parking</li>
                  <li>Swimming Pool</li>
                  <li>Parking</li>
                </ul>
              </div>
              <div class=" row additional_facility">
                <div class="col-md-6 col-lg-6 nopad">
                  <p class="plus_button">+</p>
                  <p class="hatel_option">Split stay with Second Hotel</p>
                </div>
                <div class="col-md-6 col-lg-6 nopad">
                  <ul class="change_rooms_option">
                    <li> Change Room</li>
                    <li> Change Room </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 nopad">
              <div class="row">
                <div class="col-md-10 col-lg-10 nopad ">
                  <p class="hotel_perday_price">Rs.500000</p>
                  <p class="number_of_person">Per person per room</p>
                </div>
                <div class="col-md-2 col-lg-2 nopad">
                  <p class="editItinarery_close_button Hotal_button">x</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row visa_wrap">
    <div class="col-md-1 col-sm-1 col-lg-1 nopad itnarery_top">
      <span class="edit_itinarery_tag">Visa</span>
    </div>
    <div class="col-md-11 col-lg-11 nopad div_common_padding">
      <div class="row margin-bottom">
        <div class="col-md-10 col-lg-10">
          <p class="visa_country_name">Dubai</p>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="row">
            <div class="col-md-10 col-lg-10 nopad ">
              <p class="hotel_perday_price">Rs.500000</p>
            </div>
            <div class="col-md-2 col-lg-2 nopad">
              <p class="editItinarery_close_button">x</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom">
        <div class="col-md-10 col-lg-10">
          <p class="visa_country_name">Dubai</p>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="row">
            <div class="col-md-10 col-lg-10 nopad ">
              <p class="hotel_perday_price">Rs.500000</p>
            </div>
            <div class="col-md-2 col-lg-2 nopad">
              <p class="editItinarery_close_button">x</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-lg-9 nopad"></div>
        <div class="col-md-3 col-lg-3 nopad">
          <button class="btn add_flight_button">ADD VISA</button>
        </div>
      </div>
    </div>
  </div>
  <div class="expenditure_wrap">
    <div class="row">
      <div class="col-md-2 nopad expenditure_left_area">
        <div class="row expenditure_days_block margin-bottom">
          <p class="expenditure_country_name">Dubai<span> Thu, 30 Jun  2017</span></p>
          <ul class="expenditure_days_components">
            <li><a>Day 1</a></li>
            <li><a>Day 2</a></li>
            <li><a>Day 3</a></li>
          </ul>
        </div>
        <div class="row expenditure_days_block margin-bottom">
          <p class="expenditure_country_name">Oman<span> Thu, 30 Jun  2017</span></p>
          <ul class="expenditure_days_components">
            <li><a>Day 1</a></li>
            <li><a>Day 2</a></li>
          </ul>
        </div>
        <div class="row">
          <button class="btn add_city_button">ADD City</button>
        </div>
      </div>
      <div class="col-md-8 nopad expenditure_center_area">
        <div class="Perday_detail_section">
          <div class="row margin-bottom">
            <div class="col-md-4 nopad ">
              <p class="place_expenditure"><span>Dubai</span> | <span>3 Days</span></p>
            </div>
            <div class="col-md-8 nopad"></div>
          </div>
          <div class="trip_deatil_container">
            <div class="expenditure_day_datail">
              <div class="row margin-bottom">
                <div class="col-md-4 nopad">
                  <p class="expenditure_day_count">Day 1- <span>Thu, 30 June 2017</span> </p>
                </div>
                <div class="col-md-8 nopad"></div>
              </div>
              <div class="cab_details">
                <div class="row margin-bottom">
                  <div class="col-md-6 nopad">
                    <span class="edit_itinarery_tag">Airport to Hotel Transfer</span>
                  </div>
                  <div class="col-md-6 nopad">
                  </div>
                </div>
                <div class="row margin-bottom">
                  <div class="col-md-1 nopad">
                    <p class="car_logo"><img src="images/icons/car.png"></p>
                  </div>
                  <div class=" col-md-8 nopad">
                    <div class="row row_position">
                      <div class="expenditure_airport_name">
                        <p>Dubai International Airport</p>
                        <p class="expenditure_arival_time">30 July | 11:00</p>
                      </div>
                      <div class="expenditure_arrow">
                        <p>-----></p>
                        <p class="expenditure_arival_time">1 Hours</p>
                      </div>
                      <div class="expenditure_hotel_name">
                        Bur Dubai
                        <p class="expenditure_arival_time">30 July | 11:00</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 nopad">
                    <div class="row">
                      <div class="col-md-9 nopad ">
                        <p class="travel_price">Rs.500000</p>
                        <p class="change_transfer">Change Transfer</p>
                      </div>
                      <div class="col-md-3 nopad">
                        <p class="editItinarery_close_button">x</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cab_details">
                <div class="row ">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Activities</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD ACTIVITIES</button>
                  </div>
                </div>
              </div>
              <div class="cab_details">
                <div class="row">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Transfer</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD TRANSFER</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="expenditure_day_datail">
              <div class="row margin-bottom margin-top">
                <div class="col-md-4 nopad">
                  <p class="expenditure_day_count">Day 2- <span>Thu, 30 June 2017</span> </p>
                </div>
                <div class="col-md-8 nopad"></div>
              </div>
              <div class="cab_details">
                <div class="row">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Activities</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD ACTIVITIES</button>
                  </div>
                </div>
              </div>
              <div class="cab_details">
                <div class="row margin-bottom">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Transfer</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD TRANSFER</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="Perday_detail_section">
          <div class="row margin-bottom">
            <div class="col-md-4 nopad ">
              <p class="place_expenditure"><span>Dubai</span> | <span>3 Days</span></p>
            </div>
            <div class="col-md-8 nopad expenditure_right_area"></div>
          </div>
          <div class="trip_deatil_container">
            <div class="expenditure_day_datail">
              <div class="row margin-bottom">
                <div class="col-md-4 nopad">
                  <p class="expenditure_day_count">Day 1- <span>Thu, 30 June 2017</span> </p>
                </div>
                <div class="col-md-8 nopad"></div>
              </div>
              <div class="cab_details">
                <div class="row margin-bottom">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Activities</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <div class="Desert-safari">
                      <div class="row">
                        <div class="col-md-3 nopad">
                          <span class="Desert_img"><img src="images/icons/layer-2.png"></span>
                        </div>
                        <div class="col-md-7 nopad Desert_content">
                          <div class="row">
                            <p class="Desert_quote">Desert Safari with Quad Biking</p>
                            <p class="Desert_icon"><span><img src="images/icons/layer.png"></span>
                              <span class="hotal_review">145 Reviews</span></p>
                            <p class="expenditure_duration">Duration: 10h 45m</p>
                          </div>
                          <div class="row">
                            <div class="col-md-7 nopad">
                              <p class="Desert_description">We have the best desert safari in Dubai. This is one experience
                              </p>
                              <p class="change_transfer">View More</p>
                            </div>
                            <div class="col-md-5 nopad price_activity">
                              <p class="travel_price">Rs.500000</p>
                              <p class="change_transfer">Change Activity</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-1">
                          <p class="editItinarery_close_button">x</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cab_details">
                <div class="row">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Transfer</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD TRANSFER</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="expenditure_day_datail">
              <div class="row margin-bottom margin-top">
                <div class="col-md-4 nopad">
                  <p class="expenditure_day_count">Day 2- <span>Thu, 30 June 2017</span> </p>
                </div>
                <div class="col-md-8 nopad"></div>
              </div>
              <div class="cab_details">
                <div class="row">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Activities</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD ACTIVITIES</button>
                  </div>
                </div>
              </div>
              <div class="cab_details">
                <div class="row margin-bottom">
                  <div class="col-md-3 nopad">
                    <span class="edit_itinarery_tag">Transfer</span>
                  </div>
                  <div class="col-md-9 nopad">
                    <button class="btn add_flight_button expenditure_button">+ ADD TRANSFER</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-2 nopad expenditure_right_area">
        <p class="total_travel_cost">Final Trip Cost</p>
        <p class="travel_price ">Rs. 80,000 <span class="Per-person_travel_cost">Per person</span></p>
        <button class="btn add_flight_button expenditure_button expenditure_send_button">Send Query</button>
        <p class="price_breakdown">View Price Breakdown</div>
    </div>
  </div>
</div>
</div>
