<style>
  .airline {
    text-align: justify;
    width: 75px;
  }
  .airline img {
      margin: 0 auto;
      width:33px;
      height:33px;
  }
  .flightDetails {
    flex:2;
    text-align: center;
  }
  .result_flight {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: rgba(0,0,0,.7);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0;
    position: relative;
  }
  .titleFlightSearch {
    font-size: 20px;
  }
  #toast-container {
    width: 700px;
  }
  .md-button.submitBtn {
    background: #0FBCE7!important;
    color:#fff;
    float:right;
  }

.md-datepicker-input-container {
  display: inline-block;
  width:290px;
  margin-left:0px;
  padding-left:0px;
  border-bottom: none;
}
md-datepicker[disabled] .md-datepicker-input-container {
  border-bottom-color: rgb(224,224,224);
  border-bottom: none;
}

md-radio-button:not([disabled]).md-primary .md-on {
  background-color: #ff8500;
}

md-radio-button:not([disabled]).md-primary.md-checked .md-ink-ripple {
  color: #ff8500;
}

md-radio-button:not([disabled]).md-primary.md-checked .md-off {
  border-color: #ff8500;
}
</style>
<!-- FlightSearchController -->
<div class="col-lg-12 col-md-12" style="width:100%">
  <md-toolbar class="md-hue-2" style="padding: 0px;">
    <div class="md-toolbar-tools" style="padding-top: 6px;">
      <h2>
        <span style="overflow: hidden; white-space: nowrap;color: #fff;">Flight Search</span>
      </h2>
    </div>
  </md-toolbar>
  <div ng-show="flightDetails">
    <md-card>
      <md-card-header>
        <div style="width:100%;float:left;padding-right: 25px;">
          <div style="display:flex;width:100%;">
            <div class="flightDetails">Airline</div>
            <div class="flightDetails">Departure</div>
            <div class="flightDetails">Arrival</div>
            <div class="flightDetails">Duration</div>
            <div class="flightDetails">Price</div>
          </div>
        </div>
      </md-card-header>
      <md-card-content>
        <div ng-repeat="flight in flightDetails" style="width:100%">
          <div style="margin-left:10px;">
            <span ng-if="flight.tripType == 'oneway' || (flight.tripType == 'return' && flight.flight_type == 'DOMESTIC')">
              <span>{{flight.ongoing_travel_plans.stopDetails}} | {{flight.ongoing_travel_plans.flights[0].departure_datetime | formatDate}}</span>
              <span ng-show="flight.tripType == 'return'">
                - <span>{{flight.return_travel_plans.stopDetails}} | {{flight.return_travel_plans.flights[flight.return_travel_plans.flights.length - 1].arrival_datetime | formatDate}}</span>
              </span>
            </span>
            <span ng-if="flight.tripType == 'return' && flight.flight_type == 'INTERNATIONAL'">
              <span>{{flight.full_travel_plans.ongoing.stopDetails}} | {{flight.full_travel_plans.ongoing.flights[0].departure_datetime | formatDate}}</span> - <span>{{flight.full_travel_plans.return.stopDetails}} | {{flight.full_travel_plans.return.flights[flight.full_travel_plans.return.flights.length - 1].arrival_datetime | formatDate}}</span>
            </span>
          </div>
          <div ng-if="flight.tripType == 'return' && flight.flight_type =='DOMESTIC'">
            <div class="result_flight" style="display:flex;width:100%;padding: 5px 0;">
              <div class="airline flightDetails">
                <img ng-src="{{flight.ongoing_travel_plans.tripAirlines.length===1?flight.ongoing_travel_plans.flights[0].small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" />
                <p ng-repeat="airline in flight.ongoing_travel_plans.tripAirlines track by $index">{{airline}}</p>
              </div>
              <div class="flightDetails">{{flight.ongoing_travel_plans.departureDatetime}}<br/>
                <span>{{flight.ongoing_travel_plans.stopDetails}}</span>
              </div>
              <div class="flightDetails">{{flight.ongoing_travel_plans.arrivalDatetime}}</div>
              <div class="flightDetails">{{flight.ongoing_travel_plans.travel_duration_string}}<br/>
                <span>{{flight.ongoing_travel_plans.stops}}</span><br/>
              </div>
              <div class="flightDetails">&#8377; {{flight.ongoing_travel_plans.pricing.adult.price.gross_amount | formatAmount}}</div>
            </div>
            <div class="result_flight" style="display:flex;width:100%;padding: 5px 0;">
              <div class="airline flightDetails">
                <img ng-src="{{flight.return_travel_plans.flights[0].small_image_url}}" alt="Airline Name" />
                <p>{{flight.return_travel_plans.flights[0].airline_name}}</p>
              </div>
              <div class="flightDetails">{{flight.return_travel_plans.departureDatetime}}<br/>
                <span>{{flight.return_travel_plans.stopDetails}}</span>
              </div>
              <div class="flightDetails">{{flight.return_travel_plans.arrivalDatetime}}</div>
              <div class="flightDetails">{{flight.return_travel_plans.travel_duration_string}}<br/>
                <span>{{flight.return_travel_plans.stops}}</span><br/>
              </div>
              <div class="flightDetails">&#8377; {{flight.return_travel_plans.pricing.adult.price.gross_amount | formatAmount}}</div>
            </div>
          </div>
          <div ng-if="flight.tripType == 'oneway'"> 
            <div class="result_flight" ng-repeat="flightRoute in flight.ongoing_travel_plans.flights track by $index" style="display:flex;width:100%;padding: 10px 0;">
              <div class="airline flightDetails" >
                <img ng-src="{{flight.ongoing_travel_plans.tripAirlines.length===1?flightRoute.small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" ng-if="$index==0" />
                <p ng-repeat="airline in flight.ongoing_travel_plans.tripAirlines track by $index" ng-if="$parent.$index==0">{{airline}}</p>
              </div>
              <div class="flightDetails">{{flightRoute.departure_datetime | formatDepartureTime}}<br/>
                <span>{{ongoing_travel_plans.stops}}</span><br/>
                <span>{{flightRoute.origin}} > {{flightRoute.destination}}</span>
              </div>
              <div class="flightDetails">{{flightRoute.arrival_datetime | formatDepartureTime}}</div>
              <div class="flightDetails">{{flightRoute.travel_duration}}</div>
              <div class="flightDetails"><p ng-show="$index==0">&#8377; {{flight.ongoing_travel_plans.pricing.adult.price.gross_amount | formatAmount | cur}}</p></div>
            </div>
          </div>
          <div ng-show="flight.tripType == 'return' && flight.flight_type == 'INTERNATIONAL'">
            <div class="result_flight" style="display:flex;width:100%;padding: 5px 0;">
              <div class="airline flightDetails">
                <img ng-src="{{flight.full_travel_plans.tripAirlines.length===1?flight.full_travel_plans.ongoing.flights[0].small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" />
                <p ng-repeat="airline in flight.full_travel_plans.tripAirlines track by $index">{{airline}}</p>
              </div>
              <div class="flightDetails">
                <span>{{flight.full_travel_plans.ongoing.departureDatetime}}<span><br/>
                <span>{{flight.full_travel_plans.ongoing.stopDetails}}</span><br/>
                <span>{{flight.full_travel_plans.return.departureDatetime}}</span><br/>
                <span>{{flight.full_travel_plans.return.stopDetails}}</span>
              </div>
              <div class="flightDetails">
                <span>{{flight.full_travel_plans.ongoing.arrivalDatetime}}</span><br/>
                <span>{{flight.full_travel_plans.return.arrivalDatetime}}</span>
              </div>
              <div class="flightDetails">
                <span>{{flight.full_travel_plans.ongoing.travel_duration_string}}<span><br/>
                <span>{{flight.full_travel_plans.ongoing.stops}}</span><br/>
                <span>{{flight.full_travel_plans.return.travel_duration_string}}</span><br/>
                <span>{{flight.full_travel_plans.return.stops}}</span><br/>
              </div>
              <div class="flightDetails">&#8377; {{flight.full_travel_plans.pricing.adult.price.gross_amount | formatAmount | cur}}</div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div style="clear:both;"></div>
  <md-card style="box-shadow:none;">
    <md-card-title>
      <div class="titleFlightSearch" ng-show="flightDetails">Add Another</div>
    </md-card-title>
    <md-card-content>
    <form class="form-horizontal" name="flightSearch">
      <div class="col-sm-4" style="margin-bottom:20px;width:100%;">
        <md-radio-group class="triptype" ng-model="tripType" layout="row" ng-click="changeTripType()">
          <md-radio-button value="oneway" class="md-primary"> Oneway </md-radio-button>
          <md-radio-button value="roundtrip" class="md-primary"> Return </md-radio-button>
          <md-radio-button value="multicity" ng-disabled="true"> Multicity </md-radio-button>
      </md-radio-group>
      </div>
      <div style="clear:both;"></div>
      <div>
        <section class="edit_details">
          <div class="col-xs-12 edit_block" style="padding-left:15px;padding-right:25px;padding-bottom:10px;width:365px;float:left;">
            <p class="edit-caption edit-caption_departure_city" style="margin-bottom:5px;"> Departure City</p>
            <div angucomplete-alt id="ex1" style="border-bottom: 1px solid #ccc;"
              placeholder="Select Departure City"
              pause="300"
              selected-object="selectedDepartureCityFunction"
              remote-url="{{destinationSearchUrl}}"
              remote-url-request-formatter="remoteUrlRequestFn"
              remote-url-data-field="response.message"
              search-field="name"
              title-field="name"
              description-field="type"
              minlength="1"
              focus-in="resetDepartureData($event)"
              input-class="form-control form-control-small"
              match-class="highlight"
              >
            </div>
          </div>
          <div class="col-xs-12 edit_block" style="width:365px;padding-left:15px;padding-right:25px;padding-bottom:10px;float:left;">
            <p class="edit-caption edit-caption_departure_city" style="margin-bottom:5px;"> Destination City</p>
            <div angucomplete-alt id="ex2" style="border-bottom: 1px solid #ccc;"
              placeholder="Select Destination City"
              pause="300"
              selected-object="selectedDestinationCityFunction"
              remote-url="{{destinationSearchUrl}}"
              remote-url-request-formatter="remoteUrlRequestFn"
              remote-url-data-field="response.message"
              title-field="name"
              description-field="type"
              minlength="1"
              focus-in="resetDestinationData($event)"
              input-class="form-control form-control-small"
              match-class="highlight"
              >
            </div>
          </div>
          <div style="margin-bottom:45px;clear:both;">
            <div class="col-xs-12 edit_block" style="padding-left:0px;width:350px;float:left;">
              <p class="edit-caption edit-caption_departure_city" style="margin-bottom:5px;padding-left:15px;"> Departure Date</p>
              <md-datepicker  id="departureDate"  ng-model="departureDate" md-placeholder="Depart Date" md-min-date="minDate" md-open-on-focus onkeydown="return false"></md-datepicker>
            </div>
            <div class="col-xs-12 edit_block" style="padding-left:14px;width:350px;border-bottom: none;float:left;">
              <p class="edit-caption edit-caption_departure_city" style="margin-bottom:5px;padding-left:15px;"> Return Date</p>
              <md-datepicker  id="returnDate"  ng-model="returnDate" md-placeholder="Return Date" md-min-date="minDate" md-open-on-focus ng-disabled="isOneway" onkeydown="return false"></md-datepicker>
            </div>
          </div>
        </section>
      </div><br>  
      <md-content id="toast-container">
        <div style="padding-left:8px;margin-bottom:20px;height:20px;width:700px;clear:both;">
          <md-button class="submitBtn btn-primary" ng-disabled="" ng-click="searchFlights()" aria-label="Search">
            <div>
              <span>Search</span>
            </div>
          </md-button>
        </div>
      </md-content>
    </form>
    </md-card-content>
  </md-card>
</div>