<style>
  .airline {
    text-align: justify;
    width: 75px;
  }
  .airline img {
      margin: 0 auto;
      width:33px;
      height:33px;
  }
  .flightDetails {
    flex:2;
    text-align: center;
  }
  .result_flight {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: rgba(0,0,0,.7);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0;
    position: relative;
}
.result_flight--selected, .result_flight:hover {
  box-shadow: 0 2px 18px 0 rgba(0,0,0,.5);
  transition: box-shadow .3s ease-in-out;
  z-index: 1;
}
.resultsHeader {
  font-size:15px;
  font-weight: 700;
  color:#b6b6b6;
}
.md-button.submitBtn {
  background: #0FBCE7!important;
  float:right;
}

.onFlight {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.addToQuote {
  color:#fff;
}
</style>
<!-- FlightSearchResultsController -->
<div class="col-lg-12" style="width:100%;" ng-cloak>
  <md-toolbar class="md-hue-2" style="padding: 0px;margin-bottom:20px;">
    <div class="md-toolbar-tools" style="padding-top: 6px;">
      <h2>
        <span style="overflow: hidden; white-space: nowrap;color: #fff;">Flight Search Results | {{travel_date | formatDate}}</span><span ng-if="!isOneway"> - {{return_date | formatDate}}</span>
      </h2>
    </div>
  </md-toolbar>
  <div ng-if="error" style="text-align: center;margin-top:20vh;margin-bottom:20vh;font-size: 18px;">
    <p>Something went wrong.</p>
    <p>Please try again</p>
  </div>
  <div ng-show="isOneway">
    <div class="resultsHeader" style="display:flex;width:100%;">
      <div class="flightDetails">Airline</div>
      <div class="flightDetails">Departure</div>
      <div class="flightDetails">Arrival</div>
      <div class="flightDetails">Duration</div>
      <div class="flightDetails">Price</div>
      <div class="flightDetails">Action</div>
    </div>
    <div class="result_flight" ng-repeat="flight in onGoingPlan | orderBy:'pricing.adult.price.gross_amount' track by flight.flightID" ng-if="flight.pricing.adult.price.gross_amount != 0" style="display:flex;width:100%;padding: 10px 0;">
      <div class="airline flightDetails">
        <img ng-src="{{flight.tripAirlines.length===1?flight.flights[0].small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" />
          <p ng-repeat="airline in flight.tripAirlines track by $index">{{airline}}</p>
      </div>
      <div class="flightDetails">{{flight.departureDatetime}}<br/>
      <span>{{flight.stops}}</span><br/>
      <span>{{flight.stopDetails}}</span>
      </div>
      <div class="flightDetails">{{flight.arrivalDatetime}}<span ng-if="flight.onFlight > 0" class="onFlight">+{{flight.onFlight}}d</span></div>
      <div class="flightDetails">{{flight.travel_duration_string}}</div>
      <div class="flightDetails">&#8377; {{flight.pricing.adult.price.gross_amount | formatAmount | cur}}</div>
      <div class="flightDetails">
        <md-button id="one_way_booking_btn1" class="submitBtn btn-primary" ng-disabled="" ng-click="addFlight(flight.flightID);" aria-label="AddToQuote">
          <div>
            <span class="addToQuote">Add to Quote</span>
          </div>
        </md-button>
      </div>
    </div>
  </div>
  <div ng-show="!isOneway && flight_type == 'DOMESTIC'">
    <div class="flightDetails">
      <md-button id="return_domestic__btn" class="submitBtn btn-primary" ng-disabled="" ng-click="addFlights();" aria-label="AddToQuote">
        <div>
          <span class="addToQuote">Add to Quote</span>
        </div>
      </md-button>
    </div>
    <div style="clear:both;"></div>
    <div style="width:50%;float:left;padding-right: 25px;">
      <div class="resultsHeader" style="display:flex;width:100%;">
        <div class="flightDetails">Airline</div>
        <div class="flightDetails">Departure</div>
        <div class="flightDetails">Arrival</div>
        <div class="flightDetails">Duration</div>
        <div class="flightDetails">Price</div>
      </div>
      <div class="result_flight" ng-repeat="flight in onGoingPlan | orderBy:'pricing.adult.price.gross_amount' track by flight.flightID" ng-if="flight.pricing.adult.price.gross_amount != 0" style="display:flex;width:100%;padding: 10px 0;">
        <div style="margin-left:10px;"><input type="radio" id="flightongoing{{flight.flightID}}" class="mdl-radio__button" name="nameongoing" value="{{flight.flightID}}" ng-checked="{{checkOnGoingFlight(flight.pricing.adult.price.gross_amount, flight.flightID)}}" ng-click="changeOnGoingFlight(flight.flightID)"></div>
        <div class="airline flightDetails">
          <img ng-src="{{flight.tripAirlines.length===1?flight.flights[0].small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" />
          <p ng-repeat="airline in flight.tripAirlines track by $index">{{airline}}</p>
        </div>
        <div class="flightDetails">{{flight.departureDatetime}}<br/>
        <span>{{flight.stops}}</span><br/>
        <span>{{flight.stopDetails}}</span>
        </div>
        <div class="flightDetails">{{flight.arrivalDatetime}}<span ng-if="flight.onFlight > 0" class="onFlight">+{{flight.onFlight}}d</span></div>
        <div class="flightDetails">{{flight.travel_duration_string}}</div>
        <div class="flightDetails">&#8377; {{flight.pricing.adult.price.gross_amount | formatAmount}}</div>
      </div>
    </div>
    <div style="width:50%;float:left;">
      <div class="resultsHeader" style="display:flex;width:100%;">
        <div class="flightDetails">Airline</div>
        <div class="flightDetails">Departure</div>
        <div class="flightDetails">Arrival</div>
        <div class="flightDetails">Duration</div>
        <div class="flightDetails">Price</div>
      </div>
      <div class="result_flight" ng-repeat="flight in onReturnPlan | orderBy:'pricing.adult.price.gross_amount' track by flight.flightID" ng-if="flight.pricing.adult.price.gross_amount != 0" style="display:flex;width:100%;padding: 10px 0;">
        <div style="margin-left:10px;"><input type="radio" id="flightreturn{{flight.flightID}}" class="mdl-radio__button" name="namereturn" value="{{flight.flightID}}" ng-checked="{{checkReturnFlight(flight.pricing.adult.price.gross_amount, flight.flightID)}}" ng-click="changeReturnFlight(flight.flightID)"></div>
        <div class="airline flightDetails">
          <img ng-src="{{flight.tripAirlines.length===1?flight.flights[0].small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" />
          <p ng-repeat="airline in flight.tripAirlines track by $index">{{airline}}</p>
        </div>
        <div class="flightDetails">{{flight.departureDatetime}}<br/>
        <span>{{flight.stops}}</span><br/>
        <span>{{flight.stopDetails}}</span>
        </div>
        <div class="flightDetails">{{flight.arrivalDatetime}}<span ng-if="flight.onFlight > 0" class="onFlight">+{{flight.onFlight}}d</span></div>
        <div class="flightDetails">{{flight.travel_duration_string}}</div>
        <div class="flightDetails">&#8377; {{flight.pricing.adult.price.gross_amount | formatAmount}}</div>
      </div>
    </div>
  </div>
  <div ng-show="!isOneway && flight_type == 'INTERNATIONAL'">
    <div style="width:100%;">
      <div class="resultsHeader" style="display:flex;width:100%;">
        <div class="flightDetails">Airline</div>
        <div class="flightDetails">Departure</div>
        <div class="flightDetails">Arrival</div>
        <div class="flightDetails">Duration</div>
        <div class="flightDetails">Price</div>
        <div class="flightDetails">Action</div>
      </div>
      <div class="result_flight" ng-repeat="flight in internationalFlightPlan | orderBy:'pricing.adult.price.gross_amount' track by flight.flightID" ng-if="flight.pricing.adult.price.gross_amount != 0" style="display:flex;width:100%;padding: 10px 0;">        
        <div class="airline flightDetails">
          <img ng-src="{{flight.tripAirlines.length===1?flight.ongoing.flights[0].small_image_url:'loaders/multi_airlines.png'}}" alt="Airline Name" />
          <p ng-repeat="airline in flight.tripAirlines track by $index">{{airline}}</p>
        </div>
        <div class="flightDetails">
          <span>{{flight.ongoing.departureDatetime}}<span><br/>
          <span>{{flight.ongoing.stops}}</span><br/>
          <span>{{flight.ongoing.stopDetails}}</span><br/>
          <span>{{flight.return.departureDatetime}}<span><br/>
          <span>{{flight.return.stops}}</span><br/>
          <span>{{flight.return.stopDetails}}</span>
        </div>
        <div class="flightDetails">
          <span>{{flight.ongoing.arrivalDatetime}}</span><span ng-if="flight.ongoing.onFlight > 0" class="onFlight">+{{flight.ongoing.onFlight}}d</span><br/><br/><br/>
          <span>{{flight.return.arrivalDatetime}}</span><span ng-if="flight.return.onFlight > 0" class="onFlight">+{{flight.return.onFlight}}d</span>
        </div>
        <div class="flightDetails">
          <span>{{flight.ongoing.travel_duration_string}}</span><br/><br/>
          <span>{{flight.return.travel_duration_string}}</span>
        </div>
        <div class="flightDetails">&#8377; {{flight.pricing.adult.price.gross_amount | formatAmount}}</div>
        <div class="flightDetails">
          <md-button id="return_international_btn_{{flight.flightID}}" class="submitBtn btn-primary" ng-disabled="" ng-click="addFlights(flight.flightID);" aria-label="AddToQuote">
          <div>
            <span class="addToQuote">Add to Quote</span>
          </div>
        </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
