<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right:0;margin-right:0">
  <div class="col-sm-4 col-xs-4">
    <label>Data Management</label><br>
    <a ng-href="#/continent">Continent</a><br>
    <a ng-href="#/country">Country</a><br>
    <a ng-href="#/state">State</a><br>
    <a ng-href="#/city">City</a><br>
    <a ng-href="#/activities">Activities</a><br>
    <a ng-href="#/minitour">Minitour</a><br>
    <a ng-href="#/intercityTransfers">Intercity Transfers</a><br>
    <a ng-href="#/airportTransfers">Airport Transfers</a><br>
    <a ng-href="#/interHotelTransfers">Inter Hotel Transfers</a><br>
    <a ng-href="#/activitySlots">Activity Slots</a><br>
  </div>
  <div class="col-sm-4  col-xs-4" >
    <label>Type Management</label><br>
    <a ng-href="#/activityType">Activity Types</a><br>
    <a ng-href="#/currencyType">Currency Type</a><br>
    <a ng-href="#/currency">Currency</a><br>
    <a ng-href="#/TouristTypes">Traveller Types</a><br>
    <a ng-href="#/TransportTypes">Transport Types</a><br>
    <a ng-href="#/bookingStatus">Booking Status</a><br>
    <a ng-href="#/countryCombinations">Country Combinations</a><br>
    <a ng-href="#/templateTypes">Template Types</a><br>
    <a ng-href="#/visa">Visa</a><br>
    <a ng-href="#/visaCategories">Visa Categories</a><br>
    <a ng-href="#/visaProcessing">Visa Processing</a><br>
    <a ng-href="#/leadsources">Lead Sources</a><br>
    <a ng-href="#/leadStatus">Lead Status</a><br>
  </div>
  <div class="col-sm-4  col-xs-4">
    <label>Itinerary Management</label><br>
    <a ng-href="#/templates">Templates</a><br>
    <a ng-href="#/createItinerary?fixed=true">Create fixed package</a><br>
    <a ng-href="#/createItinerary?fixed=false">Create customisable package</a><br>
  </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12  col-xs-12" >
  <div class="col-sm-4  col-xs-4">
    <label>Price Management</label><br>
    <a ng-href="#/activityPrices">Activity/Tour Prices</a><br>
    <a ng-href="#/airportTransferPrices">Airport Transfer Prices</a><br>
    <a ng-href="#/intercityTransferPrices">Intercity Transfer Prices</a><br>
    <a ng-href="#/interHotelTransferPrices">Inter Hotel Transfer Prices</a><br>
  </div>
  <div class="col-sm-4  col-xs-4">
    <div>
      <label ng-if="userType !== 'Sales' ">User Management</label><br>
      <a ng-href="#/supplier" ng-if="userType !== 'Sales' ">Supplier</a><br>
      <a ng-href="#/employee" ng-if="userType !== 'Sales' ">Employees</a><br>
      <a ng-href="#/company">Company</a><br>
      <a ng-href="#/branches" ng-if="userType !== 'Sales' ">Branches</a><br>
      <a ng-href="#/saleschannel" ng-if="userType === 'Admin' ">Sales Channel</a><br>
      <br><br>
    </div>
  </div>
  <div class="col-sm-4  col-xs-4">
    <div>
      <label>Booking Management</label><br>
      <a ng-href="#/leads">Leads</a><br>
      <a ng-href="#/goomourl">Goomo Url</a><br>
      <a ng-href="#/order">Orders</a><br>
      <a ng-href="#/emailTemplate">Email Template</a><br>
      <br>
    </div>
    <div>
      <label>Profile</label><br>
      <a ng-href="#/changePassword">Change Password</a><br>
      <a ng-href="#/addSignature">Add Signature</a><br>
      <a ng-href="#/EmailConfiguration">Email Configuration</a><br>
    </div>
  </div>
</div>
