<div class="col-lg-12 col-md-12" ng-controller="GoomoUrlController" ng-init>
        <h3 class="text-center">Goomo Urls</h3>

        <button style="position:relative;z-index:20" class="btn btn-success" ng-click="editGoomoUrls('new');toggleModal();">
            <span class="glyphicon glyphicon-user"></span>
            Create New Goomo Url
        </button>
        <form style="position:relative;z-index:30" class="form-inline pull-right" role="form">
            <div class="form-group">

                <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
            </div>
        </form>
        <div style="position:relative;z-index:20" class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-click="sort('id')">
                            Goomo Url id
                            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('url')">
                            Url
                            <span class="glyphicon sort-icon" ng-show="sortKey=='goomoUrl.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('business_unit')">
                                Business Unit
                            <span class="glyphicon sort-icon" ng-show="sortKey=='goomoUrl.business_unit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('sub_category')">
                                Sub Category
                            <span class="glyphicon sort-icon" ng-show="sortKey=='goomoUrl.sub_category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('destination')">
                                Destination
                            <span class="glyphicon sort-icon" ng-show="sortKey=='goomoUrl.destination'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('region')">
                                Region
                            <span class="glyphicon sort-icon" ng-show="sortKey=='goomoUrl.region'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('group')">
                                Group
                            <span class="glyphicon sort-icon" ng-show="sortKey=='goomoUrl.group'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Edit</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    <tr dir-paginate="goomoUrl in goomoUrls |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">

                        <td>{{ goomoUrl.id }}</td>
                        <td>{{ goomoUrl.url }}</td>
                        <td>{{ goomoUrl.business_unit }}</td>
                        <td>{{ goomoUrl.sub_category }}</td>
                        <td>{{ goomoUrl.destination }}</td>
                        <td>{{ goomoUrl.region }}</td>
                        <td>{{ goomoUrl.group }}</td>
                        <td class="text-center">
                            <button class="btn btn-sm" ng-click="editGoomoUrls(goomoUrl.sequence);toggleModal();">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Edit
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-success btn-sm statusBtn" ng-show="goomoUrl.status" ng-click="statusGoomoUrl(goomoUrl.sequence)">
                                Active
                            </button>
                            <button class="btn btn-danger btn-sm statusBtn" ng-hide="goomoUrl.status" ng-click="statusGoomoUrl(goomoUrl.sequence)">
                                Deactive
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dir-pagination-controls max-size="20" direction-links="true" boundary-links="true">
            </dir-pagination-controls>

        </div>
        <button style="position:relative;z-index:20" class="btn btn-success" ng-click="getMoreGoomoUrls();">
            <span class="glyphicon glyphicon-"></span>
            Get More Goomo Urls
        </button>
        <modal title="Goomo Url Form" dikhao="showModal">
            <form class="form-horizontal" name="myForm">

                <div class="form-group row clearfix" ng-class="{ 'has-error' : myForm.url.$invalid && !myForm.url.$pristine }">
                  <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="row clearfix">
                      <label class="control-label col-md-4">
                          URL:
                          <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                          <input ng-disabled="info" type="text" class="form-control" name="url" ng-model="GoomoUrlController.url" placeholder="url"
                              required>
                          <p ng-show="myForm.url.$invalid && !myForm.url.$pristine && GoomoUrlController.url!==null" class="help-block">
                              Enter a valid Url.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="row clearfix">
                      <label class="control-label col-md-4">
                            Business Unit:
                            <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                            <input ng-disabled="info" type="text" class="form-control" name="business_unit" ng-model="GoomoUrlController.business_unit" placeholder="business_unit"
                                required>
                            <p ng-show="myForm.business_unit.$invalid && !myForm.business_unit.$pristine && GoomoUrlController.business_unit!==null" class="help-block">
                                Enter a valid Business Unit.
                            </p>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="row clearfix">
                      <label class="control-label col-md-4">
                            Sub Category:
                            <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                            <input ng-disabled="info" type="text" class="form-control" name="sub_category" ng-model="GoomoUrlController.sub_category" placeholder="sub_category"
                                required>
                            <p ng-show="myForm.sub_category.$invalid && !myForm.sub_category.$pristine && GoomoUrlController.sub_category!==null" class="help-block">
                                Enter a valid Sub Category.
                            </p>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="row clearfix">
                        <label class="control-label col-md-4">
                              Destination:
                              <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                            <input ng-disabled="info" type="text" class="form-control" name="destination" ng-model="GoomoUrlController.destination" placeholder="destination"
                                required>
                            <p ng-show="myForm.destination.$invalid && !myForm.destination.$pristine && GoomoUrlController.destination!==null" class="help-block">
                                Enter a valid Destination.
                            </p>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="row clearfix">
                      <label class="control-label col-md-4">
                            Region:
                            <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                            <input ng-disabled="info" type="text" class="form-control" name="destination" ng-model="GoomoUrlController.region" placeholder="region"
                                required>
                            <p ng-show="myForm.region.$invalid && !myForm.region.$pristine && GoomoUrlController.region!==null" class="help-block">
                                Enter a valid Region.
                            </p>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="row clearfix">
                      <label class="control-label col-md-4">
                            Group:
                            <span style="color:red">*</span>
                      </label>
                      <div class="col-md-8">
                            <input ng-disabled="info" type="text" class="form-control" name="group" ng-model="GoomoUrlController.group" placeholder="group"
                                required>
                            <p ng-show="myForm.group.$invalid && !myForm.group.$pristine && GoomoUrlController.group!==null" class="help-block">
                                Enter a valid Group.
                            </p>
                    </div>
                    </div>
                  </div>
                </div>
            </form>

            <hr>
            <button class="btn btn-primary" ng-disabled="error || incomplete
            || (GoomoUrlController.url === null) || (GoomoUrlController.url === '')
            || (GoomoUrlController.business_unit === null) || (GoomoUrlController.business_unit === '')
            || (GoomoUrlController.sub_category === null) || (GoomoUrlController.sub_category === '')
            || (GoomoUrlController.destination === null) || (GoomoUrlController.destination === '')
            ||  (GoomoUrlController.region === null) || (GoomoUrlController.region === '')
            ||  (GoomoUrlController.group === null) || (GoomoUrlController.group === '') "
                ng-click="saveGoomoUrl()" ng-hide="info">
                <span class="glyphicon glyphicon-save"></span> Save Changes
            </button>
            <button class="btn" ng-click="editLeadStatus(goomoUrl.id,'edit');toggleModal();" ng-show="info">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
            </button>
        </modal>
    </div>
