<div class="col-lg-12 col-md-12" ng-controller="hotelPriceController" ng-init="getAllConstants();">
  <h3 class="text-center">Hotel Prices</h3>


  <form style="position:relative;z-index:20;" class="form-inline pull-left" role="form">
    <div class="form-group">
      <!-- <select class="form-control"  ng-repeat="(name, values) in selects" ng-model="selecteds[name]" ng-options="v for v in values">
      </select> -->
      <select class="form-control" ng-model="hotelPriceController.agent" ng-change="searchHotels(0)"
              ng-options="item.id as item.name for item in agents">
        <option value="">Select Agent</option>
      </select>
    </div>
  </form>

  <form style="position:relative;z-index:20;" class="form-inline pull-right" role="form">
    <div class="form-group">
      <!-- <select class="form-control"  ng-repeat="(name, values) in selects" ng-model="selecteds[name]" ng-options="v for v in values">
      </select> -->
      <select class="form-control" ng-model="hotelPriceController.country"
              ng-options="item.id as item.name for item in countries" ng-change="getActiveStatesByCountries()">
        <option value="">Select Country</option>
      </select>
      <select class="form-control" ng-model="hotelPriceController.state"
              ng-options="item.id as item.state for item in states" ng-change="getActiveCitiesByStates()">
        <option value="">Select State</option>
      </select>
      <select class="form-control" ng-model="hotelPriceController.city"
              ng-options="item.id as item.city for item in cities" ng-change="searchHotels(0)">
        <option value="">Select City</option>
      </select>
    </div>
    <div class="form-group">
      <!--<label >Search</label>-->
      <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
    </div>
  </form>

  </br></br>
  <div style="position:relative;z-index:10;" class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th class="text-center" ng-click="sort('id')">Hotel Id
          <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('name')">Hotel Name
          <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('star')">Star Rating
          <span class="glyphicon sort-icon" ng-show="sortKey=='star'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('address')">Address
          <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('website')">Website
          <span class="glyphicon sort-icon" ng-show="sortKey=='website'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('priceAvailable')">Price Submitted
          <span class="glyphicon sort-icon" ng-show="sortKey=='priceAvailable'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr dir-paginate="hotel in hotels |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">
        <td class="col-sm-1 text-center">{{ hotel.id}}</td>
        <td class="col-sm-2 text-center">{{ hotel.name}}</td>
        <td class="col-sm-1 text-center">{{ hotel.star}}</td>
        <td class="col-sm-2 text-center">{{ hotel.address}}</td>
        <td class="col-sm-2 text-center">{{ hotel.website}}</td>
        <td class="col-sm-2 text-center">{{ hotel.priceAvailable}}</td>

        <td class="text-center">
          <button class="btn" ng-click="showDetails(hotel.sequence-1);toggleModal();" >
            <span class="glyphicon"></span>Edit
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <dir-pagination-controls
      max-size="20"
      direction-links="true"
      boundary-links="true" >
    </dir-pagination-controls>
  </div>

  <button style="position:relative;z-index:10;" class="btn btn-success" ng-click="getMoreHotels();">
    <span class="glyphicon glyphicon-"></span> Get More
  </button>

  <modal title="Hotel Details" dikhao="showModal">

    <form class="form-horizontal" name='hotelPriceForm'>

      <div class="form-group">
        <label class="col-sm-3 control-label">City</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].city}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].name}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Star Rating</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].star}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Address</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].address}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">pincode</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].pincode}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">checkin</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].checkin}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">checkin</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].checkin}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">checkout</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].checkout}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Swimming pool available</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].amenities.swimming}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Wifi available</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].amenities.wifi}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Gym available</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].amenities.swimming}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Pantry available</label>

        <div class="col-sm-8">
          <p>{{hotels[sequenceForEdit].amenities.restaurant}}</p>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label">Currency:</label>

        <div class="col-sm-4">
          <select class="form-control" ng-model="hotelPriceController.selectedCurrency"
                  ng-options="item.id as item.name for item in currencies">
            <option value="">Select Currency</option>
          </select>
        </div>
      </div>




      <div class="col-sm-11 col-sm-offset-1">

          <label>Add Price:</label>


          <div ng-repeat="object in priceModel track by $index" ng-init="position=$index"
               ng-show="priceModel[position].active ===true">


            <div class="col-sm-12">
              <hr style="background-color:black;height:2px">
              <span style="position:relative;z-index:100;font-size:20px;color:red;cursor: pointer;float:right;" ng-click="deletepricemodel(position)" class="glyphicon glyphicon-remove"></span>

            </div>

            <div class="col-lg-4 col-md-4 form-group">
              <!--<br>-->
              <label class="control-label">Start Date (mm/dd/yyyy):</label>

              <div>
                <input type="date" ng-model="object.start_date" placeholder="Date">
              </div>
            </div>

            <div class="col-lg-8 col-md-8 form-group">
              <!--<br>-->
              <label class="control-label">End Date (mm/dd/yyyy):</label>

              <div>
                <input type="date" ng-model="object.end_date" placeholder="Date">
              </div>
            </div>





            <div ng-repeat="roomType in roomTypes" ng-init="roomTypeObject=roomType" >

              <form class="form-horizontal" name="myForm">
              <label class="col-sm-12 form-group" style="cursor: pointer;" ng-click="showroomtype(position,roomTypeObject.sequence-1)">Room type: {{roomTypeObject.name}}
                <span style="color:deepskyblue" ng-class="{'glyphicon glyphicon-chevron-up':!visiblefunction(position,roomTypeObject.sequence-1),'glyphicon glyphicon-chevron-down':visiblefunction(position,roomTypeObject.sequence-1)}"></span></label>
                <!--<label class="col-sm-4" ><p style="float:right;cursor: pointer;color:red" ng-click="showroomtype(position,roomTypeObject.sequence-1)">-->
                  <!--Delete this room type-->
                  <!--<span style="font-size:12px;" class="glyphicon glyphicon-remove"></span></p></label>-->

              <div ng-repeat="day in priceByDay" class="form-group" ng-init="dataId=day.data_id" ng-hide="visiblefunction(position,roomTypeObject.sequence-1)">

                <p class="col-sm-12" style="margin-top:10px;">Price: {{day.name}}</p>

                <!--<label class="col-sm-12 pull-left form-group">model : {{priceModel}}</label>-->
                <!--<label class="col-sm-12 pull-left form-group">model layout: {{priceModel[position]}}</label>-->
                <!--<label class="col-sm-12 pull-left form-group">model object: {{priceModel[position][dataId][roomTypeObject.sequence-1]}}</label>-->
                <div class="col-sm-2">
                  <div>
                    <input class="form-control mod" type="number" step="0.01"
                           ng-model="priceModel[position][dataId][roomTypeObject.sequence-1].price.single"
                           placeholder="Single">
                  </div>
                </div>

                <div class="col-sm-2">
                  <div>
                    <input class="form-control mod" type="number" step="0.01"
                           ng-model="priceModel[position][dataId][roomTypeObject.sequence-1].price.double"
                           placeholder="Double">
                  </div>
                </div>

                <div class="col-sm-2">
                  <div>
                    <input class="form-control mod" type="number" step="0.01"
                           ng-model="priceModel[position][dataId][roomTypeObject.sequence-1].price.triple"
                           placeholder="Triple">
                  </div>
                </div>

                <div class="col-sm-2">
                  <div>
                    <input class="form-control mod"  type="number" step="0.01"
                           ng-model="priceModel[position][dataId][roomTypeObject.sequence-1].price.cwb"
                           placeholder="CWB">
                  </div>
                </div>

                <div class="col-sm-2">
                  <div>
                    <input class="form-control mod" type="number" step="0.01"
                           ng-model="priceModel[position][dataId][roomTypeObject.sequence-1].price.cnb"
                           placeholder="CNB">
                  </div>
                </div>

                <div class="col-sm-2">
                  <div  ng-hide="$index===0">
                    <!--<input type="checkbox" ng-click="setsameasabove(position,dataId,roomTypeObject.sequence-1)"-->
                    <!--ng-model="checkbox[position][dataId][roomTypeObject.sequence-1]">-->

                    <button ng-click="setsameasabove(position,dataId,roomTypeObject.sequence-1)"
                            ng-class="{'btn btn-success btn-sm btn-block':!checkifsame(position,dataId,roomTypeObject.sequence-1),
                            'btn btn-danger btn-sm btn-block':checkifsame(position,dataId,roomTypeObject.sequence-1)}">
                            <span ng-hide="checkifsame(position,dataId,roomTypeObject.sequence-1)">Same as above</span>
                            <span ng-show="checkifsame(position,dataId,roomTypeObject.sequence-1)">Set to zero</span>
                            </button>

                    <!--<span>Same as above</span>-->
                  </div>
                </div>

              </div>
              </form>


            </div>

          </div>

        <!--<div class="col-sm-12">-->

          <button class="btn btn-success" ng-click="addNewPrice();">
            <span class="glyphicon glyphicon-"></span> Add another price
          </button>
        <!--</div>-->


        </div>


      <button class="btn btn-success" ng-click="savePrice();" ng-disabled="checkDate()">
        <span class="glyphicon glyphicon-"></span> Save Price
      </button>

    </form>

  </modal>

</div>
