<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <style>


    h3 {
      color: #1484e6
    }

    .img-wrap {
      position: relative;
      display: inline-block;
      border: 1px black solid;
      font-size: 0;
    }

    .img-wrap .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      background-color: #FFF;
      padding: 4px 2px 2px;
      color: #FF0000;
      font-weight: bold;
      cursor: pointer;
      opacity: .7;
      text-align: center;
      font-size: 22px;
      line-height: 10px;
      border-radius: 50%;
    }

    .img-wrap:hover .close {
      opacity: 1;
    }

  </style>


</head>


<div ng-controller="ct">


  <div>
    <h3 class="text-center">{{lastAdded}} Images</h3>

    <div>
      <label class="col-lg-7 control-label">Saved Images:</label>

      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="img-wrap" ng-repeat="x in ct.imag" ng-show="x.active" style=" margin: 2px 2px 2px 2px;
  height:109px;width:109px;
  float:left;">
    <span ng-show="checkstar(x.url)" style="position: absolute;
          top: 2px;
          right: 2px;
          z-index: 100;
          color:#FFFF00;
          font-weight: bold;
          font-size: 22px;
          line-height: 10px;"><span class="glyphicon glyphicon-star"></span></span>

          <img src={{x.url}} title={{x.caption}} style="height:107px;width:107px;object-fit: cover;">

        </div>

      </div>

      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="z-index:98;">
        <br>
        <button id="editButton" class="btn btn-success" ng-disabled="ct.imag.length===0" ng-click="toggleModal2()">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
        </button>
      </div>

      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="z-index:98;">
        <br>
        <button class="btn btn-success" ng-click="toggleModal()">
          <span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Images from PC
        </button>
        <br>
        <br>

      </div>

      <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label">More Images from Flickr:<br></label>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="z-index:98;margin-bottom:20px;">


        <div class="col-sm-4" style="padding-left:0px;">
          <label>Text:</label>
          <textarea class="form-control" rows="1" ng-model="ct.userText" placeholder="Search Text"
                    required></textarea>
        </div>


        <div class="col-sm-6" style="padding-left:0px;">
          <label>Tags (comma separated):</label>
          <textarea class="form-control" rows="1" ng-model="ct.userTags" placeholder="Search Tags"
                    required></textarea>
        </div>

        <button class="btn btn-primary" style="margin-top: 25px;" ng-disabled="!ct.userText && !ct.userTags"
                ng-click="ct.doAdvancedSearch()">
          <span class="glyphicon glyphicon-save"></span> Advanced search
        </button>
      </div>

    </div>


  </div>

  <div ng-show="noflickrimages === true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p style="color:red">Cannot find any flickr images, please use advanced search</p>
  </div>

  <div ng-hide="names.length === 0" class="col-lg-7 col-md-12 col-sm-12 col-xs-12"
       style="z-index:98;">

    <div style="overflow-y:auto; height:550px">
      <div ng-repeat="x in names" style=" margin: 2px 2px 2px 2px;
      position: relative;

      height:109px;width:109px;
      border: 1px black solid;
      float:left;"
           ng-click="setImage($index)"

        >

      <span style="padding-left:10px;z-index:118;position: absolute;font-size:90px; color:green;"><span
        ng-show="x.saved" class="glyphicon glyphicon-ok-circle"></span></span>
        <img src={{x.thumblink}} style="height:107px;width:107px;object-fit: cover;

      -webkit-filter: blur({{x.blurr}});
      -moz-filter: blur({{x.blurr}});
      -o-filter: blur({{x.blurr}});
      -ms-filter: blur({{x.blurr}});
      filter: blur({{x.blurr}});">
      </div>

    </div>

    <div align="center">
      <br>
      <button class="btn btn-success" ng-click="ct.getNextImages();">
        <span class="glyphicon glyphicon-"></span> Get More Flickr Images
      </button>
      <!-- <button class="btn btn-success" ng-click="ct.getNextPanoramioImages();">
        <span class="glyphicon glyphicon-"></span> Get More Panoramio Images
      </button> -->
    </div>
    <!--<img  src={{x.menulink}} class="img-thumbnail" style="height:100px;width:100px;">-->

  </div>

  <!-- Flickr image container-->

  <div ng-hide="names.length === 0" class="col-lg-5 col-md-12 col-sm-12 col-xs-12"
    >

    <div class="pull-right" style="height:450px;width:100%;">
      <!--<img src={{image}} >-->

      <div style="height:450px;width:100%">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="width:100%;">
          <!-- Indicators -->
          <ol class="carousel-indicators">

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" style="width:100%;">

            <div class="item {{x.active}}" ng-repeat="x in names" style="width:100%;">

              <img style="height:450px;width:100%;
                    object-fit:contain;" src={{x.menulink}}>

            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" role="button" style="z-index:99;" ng-click="previousimg()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" role="button" style="z-index:99;" ng-click="nextimg()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>

      </div>
      <!--slider ends -->


    </div>


    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" style="z-index:115">-->
    <form name="myForm">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="checkbox" ng-model="names[currentindex].saved" style="position:relative;z-index:115"> Select

        <input type="text" style="position:relative;z-index:180;" class="form-control block-center"
               ng-model="names[currentindex].caption"
               placeholder="Enter Caption" ng-show="names[currentindex].saved">

      </div>

      <div class="form-group" ng-if="names[currentindex].source==2">
        <label class="col-sm-12" style="color: red">Source: Panoramio</label>
        <div class="col-sm-12" style="padding-top:0px;">
          <label>Panoramio Title:</label>
          <textarea class="form-control" rows="2" ng-model="names[currentindex].source_title" placeholder="Panoramio Title"
            ></textarea>
        </div>
      </div>

      <div class="form-group" ng-if="names[currentindex].source==0">
        <label class="col-sm-12" style="color: red">Source: Flickr</label>
        <div class="col-sm-6" style="padding-top:0px;">
          <label>Flickr Description:</label>
          <textarea class="form-control" rows="3" ng-model="names[currentindex].description" placeholder="Flickr Text"
            ></textarea>
        </div>

        <div class="col-sm-6" style="padding-top:0px;">
          <label>Flickr Tags:</label>
          <textarea class="form-control" rows="3" ng-model="names[currentindex].tags" placeholder="Flickr Tags"
            ></textarea>
        </div>
      </div>


    </form>
    <!--</div>-->


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br>
      <button class="btn btn-danger" ng-click="cancelsaved()">Clear selection</button>
      &nbsp;
      <button class="btn btn-success" ng-click="saveImage()" style="float:right;">Save selection</button>
      &nbsp;
      &nbsp;
      <!--<button class="btn btn-success" ng-click="toggleModal()">Upload Images</button>-->
    </div>


  </div>


  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div style="position:relative;z-index:110;padding-bottom:40px;padding-top:20px">
      <button class="btn btn-info" ng-click="doneall();" style="float:right;">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Done Editing
      </button>
      <br>
    </div>


  </div>

  <modal title="Edit Images" dikhao="showModal2" class="container-fluid">
    <div class="col lg-12" style="text-align: center"><label>Drag and Drop to reorder the images</label></div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Image</th>
        <th class="text-center">Caption<span style="color:red">*</span></th>
        <th class="text-center">Cover image</th>
      </tr>
      </thead>

      <tbody ui-sortable="sortableOptions" ng-model="ct.imag">


      <tr ng-repeat="x in ct.imag"
          ng-show="x.active">
        <td>
          <div class="img-wrap" style="height:109px;width:109px;">
            <span ng-show="showdelete()" ng-click="deleteimages($index)" class="close">&times;</span>

            <div>
              <img src={{x.url}} style="height:107px;width:107px;object-fit: cover;" ng-mouseover="hoverIn($index)"
                   ng-mouseleave="hoverOut($index)">
            </div>

                  <span ng-show="ct.imag[$index].magni"
                        style="position: absolute;z-index:110;margin-top:-180px;margin-left:150px;">
                    <img src={{x.url}} style="height:500px;width:500px;object-fit:contain;"></span>
          </div>
        </td>
        <td><input type="text" class="form-control" ng-model="x.caption">
          <span style="color:red" ng-show="(x.caption === '') || (x.caption === null)"><br>Caption is required.</span>
        </td>
        <td align="center"><input type="radio" name="coverimg" value={{x.url}} ng-model="ct.checkboxSelection"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-success" style="margin-top:20px;margin-bottom:-20px;float:right;"
                  ng-disabled="ct.savechangesdisabled()" ng-click="ct.savechanges()">Save Changes
          </button>
        </td>

      </tr>


      </tbody>

    </table>

  </modal>

  <modal title="Upload Images" dikhao="showModal" class="container-fluid">


    <form class="form-horizontal" name='activityForm'>

      <button ngf-select="ct.selectFiles($files)" multiple
              accept="image/*">Select Files
      </button>

      <div class="form-group" ng-repeat="f in ct.files">

        <label class="col-sm-3 control-label">{{f.name}}:</label>

        <div class="col-sm-4">

          <input type="text" class="form-control" ng-model="ct.caption[$index].caption" ng-init=""
                 placeholder="Caption">

          <span style="color:red" ng-show="(ct.caption[$index].caption === '')"><br>Caption is required.</span>
        </div>

      </div>

      &nbsp;
      <button class="btn btn-success" ng-disabled="ct.uploadFilesdisabled()" ng-click="ct.uploadFiles()">Upload Images
      </button>
    </form>
  </modal>

</div>


</body>
</html>
