<div ng-controller="imgSliderController">
  <h3 class="text-center">Activity Images</h3>

  <div>
    <label class="col-lg-7 control-label">Sample Images:</label>

    <div class="leftthumbnails col-lg-12" id="samplelinks"></div>
  </div>

  <div>
    <label class="col-lg-7 control-label">Saved Images:</label>

    <div class="leftthumbnails col-lg-12" id="savedlinks"></div>
  </div>

  <div>

    <div class="col-lg-12 col-md-5"></div>
    <div class="form-group">

      <br><br>

      <div class="col-sm-4">
        <label class="col-sm-6">Text:</label>
          <textarea class="form-control" rows="1" ng-model="imgSliderController.userText" placeholder="Search Text"
                    required></textarea>
      </div>
    </div>

    <div class="form-group">

      <div class="col-sm-6">
        <label class="col-sm-6">Tags (comma separated):</label>
          <textarea class="form-control" rows="1" ng-model="imgSliderController.userTags" placeholder="Search Tegs"
                    required></textarea>
      </div>
    </div>

    <div>
      <button class="btn btn-primary" style="margin-top: 25px;" ng-click="doAdvancedSearch()">
        <span class="glyphicon glyphicon-save"></span> Advance search
      </button>
    </div>

  </div>

  <label class="col-lg-7 control-label" style="padding-top:48px;">More Images from Flickr:</label>

  <div class="leftthumbnails col-lg-7 col-md-5" id="links"
       style="overflow-y:auto; height:550px;"></div>
  <!-- Flickr image container-->


  <div class="col-lg-5" style="overflow-y:auto; height:550px;">

    <div class="slider">
      <img ng-repeat="slide in slides" class="slide s slide-animation nonDraggableImage"
           ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
           ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.photo_url}}">

      <a class="arrow prev" href="#/slider" ng-click="prevSlide()"></a>
      <a class="arrow next" href="#/slider" ng-click="nextSlide()"></a>

    </div>
    <!--slider ends -->

    <div class="well col-lg-12 col-md-7 col-sm-12 col-xs-12 pull-right">
      <form name="myForm">
        <input type="checkbox" ng-model="imgSliderController.isChecked"> Select
        <br><br/>
        <input type="text" class="form-control block-center" ng-model="imgSliderController.caption"
               placeholder="Enter Caption" ng-show="imgSliderController.isChecked">
        <br/>

        <button class="btn" ng-click="redirect()">Cancel</button>
        &nbsp;
        <button class="btn btn-success" ng-click="onImageSubmitted()">Save Images</button>
        &nbsp;
        &nbsp;
        <button class="btn btn-success" ng-click="toggleModal()">Upload Images</button>

      </form>
    </div>

    <div class="well col-lg-12 col-md-7 col-sm-12 col-xs-12 pull-right">
      <div class="form-group">
        <div class="col-sm-6" style="padding-top:16px;">
          <label>Flickr Description:</label>
          <textarea class="form-control" rows="5" ng-model="slides[currentIndex].description" placeholder="Flickr Text"
                    required></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6">
          <label>Flickr Tegs:</label>
          <textarea class="form-control" rows="5" ng-model="slides[currentIndex].tags" placeholder="Flickr Tegs"
                    required></textarea>
        </div>
      </div>

      <div style="margin-top:40px;">
        <button class="btn btn-success" ng-click="getNextImages();">
          <span class="glyphicon glyphicon-"></span> Get More Flickr Images
        </button>
      </div>
    </div>

    <modal title="Activity Form" dikhao="showModal" class="container-fluid">

      <form class="form-horizontal" name='activityForm'>

        <button ngf-select="selectFiles($files)" multiple
                accept="image/*">Select Files</button>

        <div class="form-group" ng-repeat="f in files">

          <label class="col-sm-3 control-label">{{f.name}}:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="caption[$index].caption" ng-init=""
                   placeholder="Caption">
          </div>

        </div>

        &nbsp;
        <button class="btn btn-success" ng-click="uploadFiles()">Upload Images</button>
        </form>
      </modal>

  </div>

</div>

</div>
