<div class="col-lg-12 col-md-12" ng-controller="LeadStatusController" ng-init>
    <h3 class="text-center">Lead Status</h3>

    <button style="position:relative;z-index:20" class="btn btn-success" ng-click="editLeadStatus('new');toggleModal();">
        <span class="glyphicon glyphicon-user"></span>
        Create New Lead Status
    </button>
    <form style="position:relative;z-index:30" class="form-inline pull-right" role="form">
        <div class="form-group">

            <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
        </div>
    </form>
    <div style="position:relative;z-index:20" class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-click="sort('id')">
                        Lead Status id
                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('name')">
                        Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='leadStatus.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th>Edit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr dir-paginate="leadStatus in leadStatuses |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">

                    <td>{{ leadStatus.id }}</td>
                    <td>{{ leadStatus.name}}</td>

                    <td class="text-center">
                        <button class="btn btn-sm" ng-click="editLeadStatus(leadStatus.sequence);toggleModal();">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-success btn-sm statusBtn" ng-show="leadStatus.status" ng-click="statusLeadStatus(leadStatus.sequence)">
                            Active
                        </button>
                        <button class="btn btn-danger btn-sm statusBtn" ng-hide="leadStatus.status" ng-click="statusLeadStatus(leadStatus.sequence)">
                            Deactive
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <dir-pagination-controls max-size="20" direction-links="true" boundary-links="true">
        </dir-pagination-controls>

    </div>
    <button style="position:relative;z-index:20" class="btn btn-success" ng-click="getMoreLeadStatus();">
        <span class="glyphicon glyphicon-"></span>
        Get More Lead Status
    </button>
    <modal title="Lead Status Form" dikhao="showModal">
        <form class="form-horizontal" name="myForm">

            <div class="form-group" ng-class="{ 'has-error' : myForm.name.$invalid && !myForm.name.$pristine }">
                <label class="col-sm-3 control-label">
                    Name:
                    <span style="color:red">*</span>
                </label>
                <div class="col-sm-4">
                    <input ng-disabled="info" type="text" class="form-control" name="name" ng-model="LeadStatusController.name" placeholder="name"
                        required>
                    <p ng-show="myForm.name.$invalid && !myForm.name.$pristine && LeadController.name!==null" class="help-block">
                        Enter a valid name.
                    </p>
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-primary" ng-disabled="error || incomplete
        || (LeadStatusController.name === null) || (LeadStatusController.name === '')"
            ng-click="saveLeadStatus()" ng-hide="info">
            <span class="glyphicon glyphicon-save"></span> Save Changes
        </button>
        <button class="btn" ng-click="editLeadStatus(leadStatus.id,'edit');toggleModal();" ng-show="info">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
        </button>
    </modal>
</div>