<div ng-controller="loginController" class="login_form well col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 col-centered" style="margin-top:7%;">
	<!-- <div class="row" style="padding: 0px 10px 0px 10px;" ng-show="false" >
		<div class="alert alert-danger fade in alert-dismissable">
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
	        <strong>Error!</strong> <span>{{ responseError }}</span>
    	</div>
	</div> -->
	<div class="row">
		<form style="position:relative;z-index:10" class="form-horizontal" ng-submit="login()" role="role">
			<h3 class="text-left loginHeading">SIGN IN</h3>
			<div class="form-group loginFrom_textfield" id="user">
				<label class=" control-label loginFrom_label">EMAIL</label>
				<input type="text" class="form-control" id="username" ng-model="loginController.username" placeholder="Email" required>
			</div>

			<div class="form-group loginFrom_textfield" id="pass">
				<label class="control-label loginFrom_label">PASSWORD</label>
				<input type="{{showpassword ? 'text' : 'password'}}" class="form-control" id="password" ng-model="loginController.password" placeholder="Password" required>
				-<br>
				<input ng-model="showpassword" type="checkbox"><span>  Show password</span>
			</div>
			<div class="form-group loginFrom_textfield row" id="">
				<div class="col-md-8 col-sm-8 col-xs-8 loginForm_remember text-left nopad">
					<input type="checkbox"><span>  Remember me</span>
				</div>
			</div>
			<div class="text-center" id="button">
				<button class="btn btn-block center loginFrom_button" ng-disabled="error || incomplete"> SIGN IN
			</button>
				<br><br>
			</div>
		</form>

		<div class="form-group" id="loggedIn" style="display: none;">
			<label class="col-sm-5 col-xs-12 control-label">You are logged in</label>
		</div>
	</div>
</div>
