<div class="modify_Search_wrapper">
  <div class="row clearfix">
    <div class="col-md-9 cd-lg-9 nopad">
      <div class="row clearfix">
        <div class="col-md-6 col-lg-6 nopad">
          <div class="row clearfix">
            <div class="col-md-3 col-sm-3 nopad">
              <p>
                <span class="back_arrow"><img src="images/icons/vector.png"></span>
                <a class="back_button">Back</a>
              </p>
            </div>
            <div class="col-md-9 col-sm-9 nopad">
              <div class="row clearfix">
                <div class="col-md-5 col-sm-5 nopad">
                  <p class="content_heading">From</p>
                  <p class="search_content">Mumbai</p>
                </div>
                <div class="col-md-2 col-sm-2 nopad">
                  <p><i class="fa fa-long-arrow-right fa-2x right-arrow" aria-hidden="true"></i></p>
                </div>
                <div class="col-md-5 col-sm-5 nopad">
                  <p class="content_heading">To</p>
                  <p class="search_content">London</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6  nopad">
          <div class="row clearfix">
            <div class="col-md-4 col-sm-4 nopad">
              <p class="content_heading">Departure</p>
              <p class="search_content">18 feb 2014</p>
            </div>
            <div class="col-md-3 col-sm-4 nopad">
              <p class="content_heading">Night</p>
              <p class="search_content">4</p>
            </div>
            <div class="col-md-5 col-sm-4 nopad">
              <div class="flight_type_detail">
                <p>3 Adult, 2Children</p>
                <p>Economy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-3 cd-lg-3 nopad">
      <button class="btn holiday_modify_search_button button_right">MODIFY SEARCH</button>
    </div>
  </div>
</div>
