<div class="col-lg-12 col-md-12" ng-controller="roomController">
<h3 class="text-center">Room Type</h3>

<button  style="position:relative;z-index:10" class="btn btn-success" ng-click="editRoom('new');toggleModal();">
  <span class="fa fa-bed"></span> Create New Room Type
</button>
<!--<div  style="position:relative;z-index:20" class="input-group pull-right col-md-3 col-sm-4 col-xs-5">-->
    <!--<input type="text" class="form-control" name="search" ng-model="search" placeholder="Search by type, capacity">-->
     <!--<span class="input-group-addon search" ng-click="searchEmployee()"><span class="glyphicon glyphicon-search"></span> </span>-->
<!--</div>-->

  <div style="position:relative;z-index:20" class="form-group pull-right">
    <!--<label >Search</label>-->
    <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
  </div>

</br></br>
<div  style="position:relative;z-index:10" class="table-responsive">
<table class="table table-striped table-bordered">
  <thead><tr>


    <th ng-click="sort('id')">Type Id
          <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
    </th>
    <th ng-click="sort('name')">Room Type
          <span class="glyphicon sort-icon" ng-show="sortKey=='name'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
  </th>
    <th ng-click="sort('capacity')">Capacity
          <span class="glyphicon sort-icon" ng-show="sortKey=='capacity'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
  </th>


    <!---->
    <!--<th>Type Id</th>-->
    <!--<th>Room Type</th>-->
    <!--<th>Capacity</th>-->

    <th>Edit</th>
    <th>Status</th>
  </tr></thead>
  <tbody>
  <tr dir-paginate="room in roomTypes |orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:8">


  <!--<tr ng-repeat="room in roomTypes">-->
    <td>{{ room.id}}</td>
    <td>{{ room.name}}</td>
    <td>{{ room.capacity }}</td>
    <td>
      <button class="btn" ng-click="editRoom(room.sequence,'edit');toggleModal();" >
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
      </button>
    </td>
    <td class="text-center">
      <button class="btn btn-success btn-sm statusBtn" ng-show="room.status" ng-click="statusRoom(room.sequence)" >
        Active
      </button>
      <button class="btn btn-danger btn-sm statusBtn" ng-hide="room.status" ng-click="statusRoom(room.sequence)" >
        Deactive
      </button>
    </td>
  </tr></tbody>
</table>
  <dir-pagination-controls
    max-size="20"
    direction-links="true"
    boundary-links="true">
  </dir-pagination-controls>
</div>

  <button  style="position:relative;z-index:10" class="btn btn-success" ng-click="getMoreRoomtypes();">
    <span class="glyphicon glyphicon-"></span> Get More
  </button>

<modal title="Room Form" dikhao="showModal">

<form class="form-horizontal" name="myForm">
<div class="form-group" ng-class="{ 'has-error' : myForm.roomType.$invalid && !myForm.roomType.$pristine }">
  <label class="col-sm-4 control-label">Room Type:<span style="color:red">*</span></label>
  <div class="col-sm-4">
     <input type="text" class="form-control" name="roomType" ng-model="roomController.roomType"
            placeholder="Room Type" ng-disabled="info">
    <!--<select class="form-control" ng-model="roomController.roomType" ng-options="item.id as item.roomType for item in rooms">-->
      <!--<option value="">Select Room Type</option>-->
    <!--</select>-->
  </div>
  <div class="col-sm-4">
    <span style="color:red" ng-show="(roomController.roomType === '')">Type is required.</span>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : myForm.capacity.$invalid && !myForm.capacity.$pristine }">
  <label class="col-sm-4 control-label">Capacity:<span style="color:red">*</span></label>
  <div class="col-sm-4" >
     <input type="number" class="form-control mod" name="capacity" ng-model="roomController.capacity"
            placeholder="Capacity" ng-disabled="info">
    <!--<select class="form-control" ng-model="roomController.capacity" ng-options="item.id as item.capacity for item in rooms">-->
      <!--<option value="">Select Capacity</option>-->
    <!--</select>-->

  </div>
  <div class="col-sm-4">
    <!--<span style="color:red" ng-show="(activitiesController.duration === '')">Activity duration is required.</span>-->
    <span style="color:red" ng-show="(roomController.capacity <= 0) && (roomController.capacity !== null)">Capacity must be greater than 0.</span>
  </div>
</div>
</form>
<hr>
 <button class="btn btn-primary" ng-disabled="error || incomplete
 || (roomController.roomType === null) || (roomController.roomType === '')
 || (roomController.capacity <= 0) || (roomController.capacity === null) || roomController.isnan()" ng-click="saveRoom()" ng-hide="info">
    <span class="glyphicon glyphicon-save"></span> Save Changes
  </button>
  <button class="btn" ng-click="editRoom(room.id,'edit');toggleModal();" ng-show="info">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
      </button>
</modal>
</div>
