<div class="col-lg-12 col-md-12" ng-controller="travstoreHotelsController" ng-init="getActiveCountries();getTravstoreCities();">
  <h3 class="text-center">Travstore hotels</h3>


  <form style="position:relative;z-index:9999;" class="form-inline pull-right" role="form">
    <div class="form-group">
      <select class="form-control" ng-model="travstoreHotelsController.city_name"
              ng-options="item.city_name for item in cities" ng-change="searchHotels(0)">
        <option value="">Select City</option>
      </select>
    </div>
    <div class="form-group">
      <!--<label >Search</label>-->
      <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
    </div>
  </form>

  <form style="position:relative;z-index:20" class="form-inline" role="form">
    <div class="form-group">
      <select class="form-control" ng-model="travstoreHotelsController.country"
              ng-options="item.id as item.name for item in countries" ng-change="getActiveStatesByCountries()">
        <option value="">Select Country</option>
      </select>
      <select class="form-control" ng-model="travstoreHotelsController.state"
              ng-options="item.id as item.state for item in states" ng-change="getActiveCitiesByStates()">
        <option value="">Select State</option>
      </select>
      <select class="form-control" ng-model="travstoreHotelsController.city"
              ng-options="item.id as item.name for item in zopkyCities">
        <option value="">Select City</option>
      </select>
    </div>

    <button style="position:relative;z-index:10" class="btn btn-success" ng-click="mapCity();">
      <span class="glyphicon glyphicon-"></span> Map city
    </button>

  </form>

  </br></br>
  <div style="position:relative;z-index:10" class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th class="text-center" ng-click="sort('hotel_code')">Travstore hotel code
          <span class="glyphicon sort-icon" ng-show="sortKey=='hotel_code'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('hotel_name')">Hotel Name
          <span class="glyphicon sort-icon" ng-show="sortKey=='hotel_name'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-center" ng-click="sort('rating')">Star Rating
          <span class="glyphicon sort-icon" ng-show="sortKey=='rating'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th class="text-center" ng-click="sort('hotel_id')">Zopky hotel Id
          <span class="glyphicon sort-icon" ng-show="sortKey=='hotel_id'"
                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>

        <th>Update</th>
      </tr>
      </thead>

      <tbody>
      <tr dir-paginate="hotel in hotels|orderBy:sortKey:reverse|filter:searchValue|itemsPerPage:50">
        <td class="text-center">{{ hotel.hotel_code}}</td>
        <td class="text-center">{{ hotel.hotel_name}}</td>
        <td class="text-center">{{ hotel.rating}}</td>
        <td class="text-center">
          <input type="number" class="form-control" ng-model="hotel.hotel_id" placeholder="Zopky hotel Id">
        </td>

        <!--</td>-->
        <td class="text-center">
          <button class="btn btn-success" ng-click="updateHotel(hotel.sequence);">
            Update
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <dir-pagination-controls
      max-size="20"
      direction-links="true"
      boundary-links="true">
    </dir-pagination-controls>
  </div>

  <button style="position:relative;z-index:10" class="btn btn-success" ng-click="getMoreHotels();">
    <span class="glyphicon glyphicon-"></span> Get More
  </button>

</div>
