<div ng-init="init()" class="login_form well col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 col-centered" style="margin-top:7%;">
        <!-- <div class="row" style="padding: 0px 10px 0px 10px;" ng-show="false" >
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> <span>{{ responseError }}</span>
            </div>
        </div> -->
    <h4>You are unauthorized to access the resource <a style="cursor: pointer" ng-click="logout()">Login again</a></h4>
</div>
    